[2015-08-17 21:15] hekaldama opened #10 "Collaborate"
Hi there.

We are about to open source our Ceph RDB driver plugin and wondered if you all would like to collaborate on this to make one good one?

Let me know and thanks!

[2015-08-17 21:54] hekaldama commented on #10
The code will be found here: https://github.com/yp-engineering/rbd-docker-plugin

[2015-08-17 22:04] h0tbird commented on #10
+1 as a humble watcher

[2015-08-17 22:05] erikh commented on #10
The repository seems blank?

I need to get back to you on the rest.

[2015-08-17 22:16] erikh commented on #10
We're totally open to collaborating, but I think we'll all be happier if we clarify what we mean by it, e.g., what are the goals here. Patches are always welcome, but I'm gathering you mean more than that. What parts of volplugin specifically interest you? Perhaps the conversation is easiest to start there.

volplugin is pretty immature as of yet and we do have our own specific set of goals, but I

[2015-08-17 22:18] jainvipin commented on #10
+1

[2015-08-17 22:32] hekaldama commented on #10
Code is up and was developed by @porcupie. He liked various things from this project, but wanted some other things as well. We developed ours in house then are releasing it with the hopes to work with each other.

[2015-08-17 22:33] erikh commented on #10
Cool! I'll read this over tonight or tomorrow morning.

[2015-08-18 05:05] porcupie commented on #10
I especially liked that you had a way to test the Ceph portions (using vagrant/virtualbox).  I don't have much in the way of test coverage atm.

I also liked the json config of the various ceph cluster configs for volplugins. As Adam said, ours was built in-house to serve a specific needs, but perhaps we could learn from each other.  Would also be interested in the direction / goals for your proje

[2015-08-18 08:25] h0tbird commented on #10
With the aim to join efforts I want to point out that someone else is working on that too: https://github.com/AcalephStorage/docker-volume-ceph-rbd

[2015-08-18 12:52] leseb commented on #10
First thank you all for your efforts, hopefully every driver writters will see that :).
Humble +1 on my side as well.

It'd nice if we could have a single/official volume driver. Ideally it'll live under the Ceph github namespace. I can do the necessary arrangements to create a repo and add core members to it.
My point is not to take over anything to anyone but more to strengthen the whole collabo

[2015-08-18 16:11] erikh commented on #10
Hi folks,

This feels really good to be able to do something so many people are interested in collaborating on.

I need to further clarify our goals with processing storage intent vs. just doing basic ceph storage as volumes. I think it's confusing this a bit; I don't think several of these storage drivers have this feature set in mind.

Fundamentally I see this kind of an issue not as "should we

[2015-08-19 12:19] h0tbird commented on #10
I think any CoreOS user will benefit from that because the `rbd` binary is not present in such systems.

[2015-08-19 18:39] erikh commented on #10
ok, I'll try to take care of that code later today.

[2015-08-26 19:44] erikh commented on #10
Sorry for the delay. I have extracted the librbd code: https://github.com/contiv/librbd

[2015-08-26 19:50] hekaldama commented on #10
@erikh Nice! Thanks for this.

[2015-08-26 19:50] h0tbird commented on #10
Great!

[2015-08-27 02:55] jainvipin commented on #10
+1

[2015-08-28 23:50] hekaldama commented on #10
@noahdesu @aisrael what are your thoughts wrt:

https://github.com/contiv/volplugin/issues/10#issuecomment-132196987

and

https://github.com/contiv/volplugin/issues/10#issuecomment-132262864

I think all of us contributing to a handful of defined shared libs is very profitable. I don't mind if they all end up under ceph/ either.

Looking forward to your thoughts.

[2015-08-29 00:09] noahdesu commented on #10
Hi @erikh I'm the author of go-ceph. The general direction of go-ceph was originally to provide minimalistic go wrappers around the various ceph APIs that could be used to build up higher level APIs or tools. At this point I'm largely just doing reviews, keeping things up to date, and I'm generally open to merging anything that people find useful.

@leseb moving go-ceph under the ceph namespace is

[2015-08-31 12:20] leseb commented on #10
Hi @noahdesu I just created https://github.com/ceph/go-ceph, you should be able to push your code there. You will get 'merge' permissions soon.

[2015-08-31 13:11] erikh commented on #10
hi @noahdesu! I plan to implement krbd mapping in your library, would that be an acceptable patch?

[2015-08-31 13:14] noahdesu commented on #10
@erikh this API here https://github.com/ceph/ceph/blob/master/src/include/krbd.h ? Sounds good to me!

[2015-08-31 13:15] noahdesu commented on #10
@leseb thanks. I should already be in the ceph organization so I think that may make it easier.

[2015-08-31 13:18] leseb commented on #10
@noahdesu great! Ping me if you have any issue :)

[2015-08-31 13:18] erikh commented on #10
I am looking for storage experts to query about this plugin. It'd be a very useful way to assist with minimal effort and do me a huge favor.

I wanted to take a minute to clarify what we mean by "processing storage intent". The master/slave approach we are using is very powerful, and we can leverage it as a group if we wished to rally behind it. I know this is a bold proposition. :)

So the archit

[2015-08-31 13:20] erikh commented on #10
@noahdesu http://ceph.com/docs/argonaut/rbd/rbd-ko/ is the interface I am using -- writing to /sys/bus seems safer. The code is here, but it'll have to be adapted to your system a bit.

https://github.com/contiv/librbd/blob/master/image.go#L107

[2015-08-31 13:20] noahdesu commented on #10
@leseb hmm, I don't seem to be able to push go ceph/go-ceph.

[2015-08-31 13:28] noahdesu commented on #10
It looks like the existing krbd API is also writing to sysfs (https://github.com/ceph/ceph/blob/master/src/krbd.cc), but would have the benefit that it is always implements the up-to-date protocol. I admit I don't follow krbd development, so I may be completely wrong. Either way, I'm open to krbd merges :)

[2015-08-31 13:29] erikh commented on #10
I explored that but the C++ is what holds me back, at least in Go... unless you know of a way. I would prefer to take that route as well.

[2015-08-31 13:30] erikh commented on #10
While I'm thinking of it: the C interface also does not handle the toml/ini style nested configuration, only the top level stuff. If you know of a way to access it, can you let me know?

[2015-08-31 13:36] noahdesu commented on #10
It looks like krbd already has a C interface (https://github.com/ceph/ceph/blob/master/src/include/krbd.h), so that should work directly in Go without any modifications. Are there pieces of the C++ implementation that would need a corresponding C interface for Go? I'm trying to understand how all the pieces fit together. Can you point me at an example of where the toml/ini style configurations are

[2015-08-31 13:39] erikh commented on #10
Sorry, I'm communicating poorly.

I'll look into the krbd C interface. I guess I must have missed that header.

As for the config files, stuff like this in the C interface is not handled by the source, best I can tell:

[code]

I cannot find a way, with the C interface, to get at this key.

[2015-08-31 13:58] noahdesu commented on #10
@erikh I took a quick look at the krbd implementation. It appears to me that when you create a krbd context (krbd_create_from_context(rados_config_t cct, struct krbd_ctx **pctx)) that things like the key from the configuration file are automatically extracted (via the cct parameter), and that rados_config_t can be programmatically constructed, populated from environment variables, or a ceph.conf.

[2015-08-31 14:01] erikh commented on #10
Nah, I can do that this week. No need to do it twice.

[2015-08-31 14:12] leseb commented on #10
@noahdesu can you at least PR?

[2015-08-31 14:14] leseb commented on #10
@noahdesu you should be good to go now :)

[2015-08-31 14:36] noahdesu commented on #10
@leseb looks good thanks

[2015-08-31 19:50] porcupie commented on #10
@erikh: Though it does not involve using ceph libs and using @noahdesu's suggestion seems like the better way to go (rados context that can import ceph conf file, env vars,  etc) -- before, I was looking at parsing the INI style configuration files using this project: https://github.com/vaughan0/go-ini - which can import into a Map and can even support keys with spaces (e.g. "mon addr = 10.1.1.5:6

[2015-08-31 19:51] erikh commented on #10
@porcupie the krbd code should suffice, but I'll keep digging if it does not. Thanks for the update.

[2015-08-31 20:27] erikh commented on #10
@noahdesu the code isn't a part of the librados or librbd distributions so it can't be used :(

I'm going to port librbd's mapping code for now. I'll try to see if I can figure out the config issue that is raised by this.

[2015-08-31 20:33] noahdesu commented on #10
@erikh oh bummer, I see now that libkrbd is a dependency for the rbd tool, but isn't installed, which makes sense. if you think that libkrbd is something that would be good to expose, it's probably a good idea to start that process for the next release cycle.

[2015-08-31 20:34] noahdesu commented on #10
just porting the mapping code for now sounds good.

[2015-08-31 20:40] erikh commented on #10
OK. I'll see what's involved there, I agree that is the best approach.

For now to solve the config problem, I can see this going two ways:
* provide a struct which the user must populate themselves
* integrate https://github.com/burntsushi/toml to handle the config parsing.

Which would you prefer? Also, I'll start an issue on ceph/go-ceph to discuss this further in a few minutes here.

[2015-08-31 20:44] noahdesu commented on #10
Is it possible to do everything through the `rbd` command line tool? If so, then running a shell command seems like a reasonable thing to do since it would be indirectly constructing all the sysfs commands via libkrbd.

[2015-08-31 20:46] erikh commented on #10
Ok, I'll do that for now. Thanks

[2015-08-31 20:50] noahdesu commented on #10
Just to be clear, I was thinking that you could keep your Go API and then do something like `out, err := exec.Command("rbd <args>").Output()` as an alternative to constructing the sysfs commands so that later when libkrbd is available, the API could remain unchanged. If using `rbd` cli also doesn't work,  then I think that I'm neutral on the two options you proposed.

[2015-08-31 22:28] erikh commented on #10
I worry it's going to be racy, but I'm trying porting to the CLI first.

[2015-09-24 00:17] erikh commented on #10
Hey folks, a lot has changed in this project in the last month. I'm going to close this, but please feel free to file pull requests or otherwise suggest ideas where we can work together. Thanks for your interest!

[2015-09-24 00:17] #10 closed

[2015-10-21 21:25] erikh opened #16 "ephemeral volumes do not get cleaned up on host disappearance"
Right now, if the host disappears and docker loses state of the volume, we leak a volume that was intended to be deleted upon container/volume teardown inside of docker.

To resolve this, I propose we implement a scheduled jobs daemon that handles this and snapshots, and of course, can be used for more later. This `volsupervisor` could live on one host with a connection to the volmaster and etcd,

[2015-10-21 21:28] erikh opened #17 "volume <-> pool relationship leaks volumes"
The current volume / pool relationship is flawed; it currently relies on volumes being the source of truth for a volume's existence, and the pool name / volume name to be present as a combination for mount handling.

This is a relational nightmare and is the result of thousands of cuts to this part of the code. What needs to happen is the naming of volumes needs to change to include the tenant nam

[2015-10-22 20:10] erikh opened #18 "use rbd locks"
We don't right now (we handle this in etcd), but we should do both for safety.

[2015-10-22 20:14] erikh opened #19 "Fix downloading the ceph stable repository key"
This breaks VM setup about 50% of the time. Use a static file in the ansible subtree instead.

[2015-10-25 04:58] #17 closed

[2015-10-25 04:59] erikh commented on #19
fixed by #20

[2015-10-25 04:59] #19 closed

[2015-10-25 19:33] erikh commented on #16
didn't mean to close this

[2015-10-25 19:47] beni05 commented on #16
This method requires shutting down the old instance before starting the migration and assigning its IP address to the new instance. This approach is not recommended unless the options above are unavailable.

[2015-10-25 20:26] erikh commented on #16
I'm not quite sure what you mean. Can you elaborate? Are you talking about the volmaster or the volsupervisor?

[2015-11-15 09:57] erikh commented on #18
this is (hopefully) not necessary due to the new use locking. No need for a second consensus system we depend on.

[2015-11-15 09:57] #18 closed

[2015-11-15 09:58] erikh commented on #16
this is done, finer points are going to be addressed in another issue

[2015-11-15 09:58] #16 closed

[2015-11-29 02:19] erikh opened #55 "swarm `docker run` does not clean up volume on rm"
it may just be that an upgrade is required.

https://github.com/docker/swarm/issues/1189 looks like the relevant issue here.

[2015-11-29 03:22] erikh opened #56 "use a proper units package for intent size"
something that supports `20G` or `14.4k`.

[2015-11-29 03:23] erikh commented on #56
Looks like github.com/alecthomas/units may be the answer here.

[2015-11-30 16:22] ChristianKniep opened #59 "Backend support for Consul"
Hey there,

I am carefully crawl towards CEPH backed volumes after I played around with the new networking:
http://qnib.org/2015/11/29/multi-host-slurm/

I would like to expand the post with ceph-backed volumes. For now you only support `etcd` if I get the `config/config.go` file right... Not [yet] a way to plug in `Consul`. No big deal, I could spin up an etcd-instance, no problem.

Just so that

[2015-11-30 19:53] erikh commented on #59
OK, I'll look into it, but prioritizing it will be hard due to other features that need to be developed. If you would be interested, I can guide you through what you need to do to implement this patch.

[2015-11-30 20:01] ChristianKniep commented on #59
Could look into it. Not sure if I got the time, but I'll try. First I am going to check it out using `etcd`.
Do you want to keep the issue open to track the matter or should I close it?

[2015-11-30 20:25] bnoon opened #60 "requestVolumeConfig with tenant/volume or tenant/name?"
I am just testing this out and I get an error when creating a volume and attempting to mount it into a container.

Here are some logs from volplugin:
[code]

The logs from volmaster shows that the it get the requests:
[code]
but the `volume` is different.

should https://github.com/contiv/volplugin/blob/master/volplugin/handlers.go#L132

be `volConfig, err := requestVolumeConfig(master, uc.Tenant,

[2015-11-30 20:32] erikh commented on #60
Interesting, can you give me the command you ran for `docker volume create` and `docker run` ?

[2015-11-30 20:36] bnoon commented on #60
Sure.
[code]
I had uploaded the canned `systemtests/testdata/intent1.json` file for tenant1.

I am running this against an existing ceph cluster with ceph running in containers.

[2015-11-30 20:37] erikh commented on #60
Ok. Can you `rbd ls rbd` for me and see if you get a volume named `tenant1.foo`? Also, if you could upload the output of `etcdctl ls --recursive /volplugin` that would be immensely useful.

Thank you very much for helping me debug this!

[2015-11-30 20:41] bnoon commented on #60
`rbd ls rbd` lists `foo` but not `tenant1.foo`.

Should I have named the volume with the tenant?

`etcdctl ls --recursive /volplugin` shows:
[code]

[2015-11-30 22:16] erikh commented on #60
No, this should not be necessary.

It looks like the volume isn't getting registered in etcd. I'll see if I can recreate this. Are you using a recent build?

[2015-11-30 22:16] erikh commented on #60
Oh, did you create the volume yourself?

[2015-11-30 22:27] bnoon commented on #60
I am using the 11/29 release.  I created the ceph volume myself since I want to mount existing volumes into containers.

Is the call to `requestVolumeConfig(master, "tenant1","tenant1/foo")` correct (line 132 volplugin/handlers.go)?

[2015-11-30 22:29] erikh commented on #60
Yes, this code is correct. I see the problem now.

Unfortunately volplugin is not currently capable of managing existing rbd volumes. When you `docker volume create` for the first time for a given volume name, its existence is registered in etcd.

Now, there are patches in progress that resolve some of this, I will leave this open and ping here when these patches are ready. For now, though, you mu

[2015-11-30 22:35] bnoon commented on #60
Ok. Thanks.

As an additional point, I tried to `docker volume create -d volplugin --name=tenant1/test` and got the following:

[code]

[2015-11-30 22:36] erikh commented on #60
Are you running volplugin as root?

[2015-11-30 22:36] erikh commented on #60
and volmaster, sorry

[2015-11-30 22:43] bnoon commented on #60
They are both running in `--privileged` containers.  I can `exec` in the volplugin container to create and mount rbd devices.  When the above fails, there is a /dev/rbd1 device left in the container and on the host.  From in the container I am able to `mkfs.ext4 /dev/rbd1` and mount it up.

[2015-11-30 22:45] bnoon commented on #60
I start the containers as follows
[code]

[2015-11-30 22:53] erikh commented on #60
Can you try running it outside of containers first? I haven't fully vetted this yet.

[2015-11-30 22:54] erikh commented on #59
Leave it open, please. If you irc at all, I'm `erikh` there as well. Feel free to message me.

[2015-11-30 22:57] erikh commented on #59
FWIW, the major area that would need work is in the `config/` directory, most of the etcd operations happen there. Beyond that, it's modifying the interface a little bit to accommodate multiple backends.

[2015-11-30 23:04] erikh commented on #60
Ok, I'm going to experiment a bit, I think your hunch on the code is right on a second pass. Sorry if I took too much of your time, I will let you know in a bit.

[2015-12-01 01:19] erikh opened #61 "Retrieve mount points from /proc/self/mountinfo"
This will enable better volplugin recovery on host restart.

[2015-12-01 02:00] erikh commented on #60
OK, so I have fixed the code in a PR here, but I cannot recreate the getPath error you were seeing before; docker 1.9.0 skips over the pathing issue and happily continues, I don't quite understand yet why you are seeing this.

PR is here: https://github.com/contiv/volplugin/pull/62

[2015-12-01 21:21] bnoon commented on #60
I think PR #62 fixes this issue for me (btw, I am running docker 1.9.1 if that matters) so I am closing this issue.

I am still unable to get ceph volumes to mount via the docker plugin, but that is probably due to my running ceph and volplugin in containers.

I will file I different issue on that.

[2015-12-01 21:21] #60 closed

[2015-12-01 21:43] bnoon opened #63 "How is the container mount point propagated to docker daemon?"
This is more of an observation than an issue, so feel free to close it.

I am trying to run the volplugin daemons in containers on a system that has ceph installed in containers.

I am sure I am missing something, but I thought that docker plugins were designed to be able to run as in containers.  So this is an experiment.

I run some containers as follows:
[code]

In the volplug container I can l

[2015-12-02 16:10] erikh commented on #63
yeah, that's probably necessary. /mnt/ceph is where all the mountpoints
for the ceph volumes are created.

I'm probably going to document your successes/failures on this in our
documentation, so any context you can share during your experimentations
is certainly useful!

-Erik

On 1 Dec 2015, at 13:43, Bill Noon wrote:

[2015-12-02 22:55] erikh opened #65 "volcli: use `tenant/volume` syntax instead of multiple args"
`volcli` has many tools that use this notation: `volcli command subcommand tenant volume`, which I think would be more canonically represented as `volcli command subcommand tenant/volume` like it is used inside docker.

[2015-12-02 23:07] erikh opened #66 "Address configuration for running volplugin suite in containers"
Right now we don't test this, or support it, and we should! #63 and #60 mention this is a desirable feature and I think given prioritization this should be done.

Some dockerfiles to build pre-baked images for people would certainly be good too.

[2015-12-02 23:13] erikh opened #67 "change certain volume parameters after creation"
After creating a volume, parameters like read/write iops should be tweakable. Currently, the system is designed to do all the work up front and ignore future attempts to modify the parameters are ignored.

What we need to do is identify modifiable parameters (e.g., iops or snapshot schedule) and partition them from the unmodifiable ones (e.g., volume group or pool), and provide some kind of gate t

[2015-12-02 23:15] erikh opened #68 "rate-limit volume format"
apply IOPS to new volumes on volmasters for formatting

[2015-12-07 01:36] erikh opened #75 "define and restrict a set of metacharacters in volume names"
Right now `/` and `.` are special characters. There's bound to be a few more as we implement data stores. However, we do not ensure that the volume requested to be created does not have these characters in them already. Since we do a lot of transliteration of these two (ceph does not accept `/` in volume names) it's important we do not kill ourselves in the process.

This should be easy to do.

[2015-12-07 17:41] erikh opened #76 "support TTL-backed operations in mount, use locks"
Use locks and mount operations both need to expire when the host dies, so that other hosts can reschedule the job and get the volumes they need.

Currently we have no support for this; the volumes will linger in etcd until someone manually clears them., and cannot be mounted anywhere else by volplugin. This is unacceptable.

Solution: implement TTL backed publishing of records to etcd. This will a

[2015-12-08 16:54] #61 closed

[2015-12-09 01:06] erikh opened #79 "Implement RBD locking"
Questions arising from #78 seemed to indicate that implementing mandatory rbd locking would solve a few problems acquiring locks in circumstances where network partitions were present.

Implementing this directly in the storage layer is the way to go. It should not be part of the driver interface, but instead be an internal component to the ceph driver.

[2015-12-09 01:11] erikh opened #80 "Global configuration in etcd"
This would provide top-level configuration the volmaster, volsupervisor, and volplugin share and read (and refresh) from accordingly.

The system should be designed to:

* Handle dynamic updates (watch points and re-registration)
* volcli commands, e.g. `volcli config upload`
* handle at least these two fields for now:
  * TTL
  * Debug

See comments in #78 for more information

[2015-12-09 20:26] erikh commented on #56
#81 closes this.

[2015-12-09 20:26] #56 closed

[2015-12-16 22:44] magicrobotmonkey opened #90 "Can't create volume"
I've got a straightforward test setup going. With rbd I can create, map and mount volumes.

Running:
[code]

I get
[code]
The end result is that the rbd volume is created, mappped, and the ext4 fs is created on it, but `volcli volume list-all` doesnt show it. This is what's in etcd:
[code]

I'm not sure what other debugging I can do on this. It's not clear to me what step of the create is failing.

[2015-12-16 23:22] erikh commented on #90
Hi! This error usually surfaces when you have not uploaded a tenant configuration first. I see that you have one in etcd, but you do not run the command above. Can you show me your tenant configuration + the commands you used to upload it?

[2015-12-16 23:29] erikh commented on #90
I see what's happening. I'll try to address this tomorrow or later tonight. Thanks for the report.

If you could give me more information on your ceph cluster, that would help a lot.

[2015-12-17 04:51] erikh commented on #90
What version are you using? Can I see your tenant configuration as well?

[2015-12-17 14:53] magicrobotmonkey commented on #90
Tenant config is nearly straight out of the examples, except I bumped up the size:
[code]

ceph I got ambitious and went with Infernalis: `ceph version 9.2.0-754-g6bf5c87 (6bf5c8755d7f99ec49025bc5e2a4c2cf973f20c9)`

[2015-12-17 19:19] erikh commented on #90
ok, we're testing here on infernalis so NBD. :) I think there's a HTTP timeout here that's defeating us but I'm not entirely sure yet. I'll investigate and get back to you later today.

[2015-12-24 10:47] erikh commented on #90
Sorry I haven't gotten back to you yet. No matter what I do, I cannot seem to simulate this error yet. I'm putting it on the back burner for now. If you find the time to try again and run into the same issue, please do let me know.

[2015-12-29 02:43] erikh opened #98 "`make start` should also `make run`"
/cc @jainvipin

[2016-01-06 17:33] guilhem opened #102 "Stop using rbd command"
I want to use this plugin on coreos but `rbd` isn't available.

I wonder why not using https://github.com/ceph/go-ceph/tree/master/rbd for any rbd operation? It seems to be more stable (thanks to godep) and with less dependency on an external tool who can change from different versions.

[2016-01-06 17:47] erikh commented on #102
It can't map RBD devices, a key component to this. The decision to do so was spurred by a previous conversation with the author of that project. https://github.com/contiv/volplugin/issues/10#issuecomment-136494235

So, we developed https://github.com/contiv/librbd to do just this and for this very reason, but then the ceph API failed us with a limited version to determine configuration via its C i

[2016-01-06 17:47] #102 closed

[2016-01-06 18:03] guilhem commented on #102
@erikh I may be totally wrong, but I look to http://cephnotes.ksperis.com/blog/2014/01/09/map-rbd-kernel-without-install-ceph-common and especially http://cephnotes.ksperis.com/downloads/rbdmap to see what sysfs call he does.

I don't really understand why using lib(k)rbd when we directly have sysfs ;)

[2016-01-06 20:22] erikh commented on #102
yes this is what contiv/librbd does. Now I need the bits that pull out the monitor addresses from the configuration files. in C.

[2016-01-06 20:48] erikh commented on #102
Sorry to be so stubborn and not explain much. Hopefully I can detail this a little better below:

So Ceph stores configurations in two different formats.

One is single level:

[code]

The other is multi-level, ini-style:

[code]

The problem is this second format, which I cannot figure out how to parse with the `librados` C toolkit which Ceph provides to do so because it only handles k/v pairs, n

[2016-01-07 11:32] guilhem commented on #102
@erikh don't worry, I just try to understand a little more and expose a problem on platform where `rbd` isn't available (but I can bypass it with a container ;)).
You seems to have far more knowledge than me :) I'm trusting you.

About configuration... Ceph is more bloated on this part than I expect. I will ask people from ceph if there will be in FOSDEM to talk about it.
I dream to see a direct i

[2016-01-07 11:36] guilhem commented on #102
@erikh don't know if it can help, I created a public slack for ceph:
here is for the invitation http://slackin-ceph-public.herokuapp.com/
and link for slack https://ceph-public.slack.com

I may create a channel to talk about go lib

It's not official for the moment, but I try to convince ceph team to use it

[2016-01-08 14:03] erikh commented on #102
@guilhem volplugin provides the etcd backend to coordinate ceph. It's not direct, but it's robust and complete (at least, best I can tell from our test suite). It also implements TTL-backed operations so that a host crash will not keep locks on the volumes.

I'm actually in China for the next 3 weeks on vacation, so I'm going to pass on slack for now. Note that they do have a set of IRC channels o

[2016-01-11 15:34] tobilg opened #103 "Question: How to deploy on CoreOS?"
Are there any hints on how to run the `volplugin` on CoreOS?

We run a fully Dockerized Mesos and Ceph environment, and for using stateful containers, we'd like to use Docker volumes on Ceph. As far as I understand the installation of this plugin requires the some libraries to be present on the host system.

As CoreOS works a little different then CentOS/Debian/etc., is there a way to run the plug

[2016-01-11 19:30] #55 closed

[2016-01-11 19:31] erikh commented on #76
this was completed some time ago.

[2016-01-11 19:31] #76 closed

[2016-01-11 19:37] erikh commented on #103
It should be possible, but we're not testing it currently. A few other people have attempted this and this is being (loosely) tracked here: https://github.com/contiv/volplugin/issues/66.

See https://github.com/contiv/volplugin/issues/102 for specific problems related to CoreOS right now. I am going to raise the issue with the CoreOS folks and see if I can get some better answers as to why the `rb

[2016-01-11 19:55] tobilg commented on #103
Thanks for the fast reply, and have a nice vacation!

[2016-01-15 20:49] philips commented on #103
@erikh I think a good way to do this would be to use the [rkt fly stage1](https://github.com/coreos/rkt/blob/6a60ca625371dd0abb0228e013edec8d5e5465b4/Documentation/running-fly-stage1.md). Then you can include rbd, volplugin, etc inside of a container and run it as a container.

[2016-01-15 20:50] philips commented on #103
cc @steveeJ @jonboulle

[2016-01-16 00:51] erikh commented on #103
@philips OK, I will try that when I get back!

[2016-01-16 00:51] erikh commented on #103
Thanks!

[2016-01-19 17:43] jonboulle commented on #103
Please ping us on rkt-dev or the GH repo to let us know how you go.

[2016-01-20 10:10] erikh commented on #103
@jonboulle will do -- still here for another week, and I plan to get to this as soon as time permits when I get back -- top priority.

[2016-01-20 19:07] erikh commented on #90
I'm going to close this, please let me know if it needs to be reopened as I cannot reproduce it.

[2016-01-20 19:07] #90 closed

[2016-01-21 07:27] erikh opened #108 "Improve error messages in volcli"
Several error messages aren't very clear or incomplete, so we need to flesh this out some.

[2016-01-21 12:36] h0tbird commented on #103
I did some research on this topic and I ended up creating this project https://github.com/h0tbird/docker-volume-rbd. I did some attempts with `rkt` but at that time `fly` was not available so I used `systemd-nspawn`. Whenever `rkt fly` hits alpha I will try it.

[2016-01-21 12:46] tobilg commented on #103
@h0tbird Thanks a lot for your comment. I looked at the project, and saw that you're using the `h0tbird/ceph:v9.2.0-2` image. Would it also be possible to use official `ceph/daemon` image?

[2016-01-21 13:32] h0tbird commented on #103
@tobilg Yes `h0tbird/ceph` is just a wrapper around `ceph/daemon` with a patched `/usr/sbin/ceph-disk` I had the need to fix 2 [bugs](https://github.com/h0tbird/docker-ceph/releases/tag/v9.2.0-2) and to lock my container version to `v9.2.0-2`.

[2016-01-22 18:35] erikh opened #111 "timeouts for rbd commands/ceph driver"
Currently, if the `rbd` tool hangs, so does our suite of tools. incorporate a sideband timeout that appropriately errors out when this happens, so the administrator can fix the ceph installation (Which is probably already hosed)

[2016-01-26 10:45] tobilg commented on #103
I forked [h0tbird/docker-volume-rbd](https://github.com/h0tbird/docker-volume-rbd) and updated the driver imports for `volume` to [docker/go-plugins-helpers/volume](github.com/docker/go-plugins-helpers/volume) as [calavera/dkvolume](https://github.com/calavera/dkvolume) is outdated.

I also added an `install.sh` script which will compile the driver and put it in `/opt/bin`, and created a `systemd`

[2016-01-26 17:48] #79 closed

[2016-01-26 17:48] #98 closed

[2016-01-26 17:48] #65 closed

[2016-01-29 17:27] erikh commented on #103
@tobilg @h0tbird I believe I have an answer for you now (I got back from China yesterday), hopefully you will find it useful.

[code]

Will run `volplugin --debug`. It is backed by @h0tbird's `ceph/rbd` image (and therefore requires the permissions it needs to map volumes).

Note there is more to setting up volplugin than that such as etcd, volmaster, and volsupervisor. The vol* binaries plus the

[2016-02-01 04:39] erikh opened #119 "if mkfs fails, use lock is acquired and no volume is written"
write the volume after rbd create instead of mkfs.

[2016-02-01 17:23] erikh opened #121 "if volcli volume remove fails, use lock is still held"
probably just needs a defer in the right spot.

[2016-02-01 17:47] erikh opened #122 "if volplugin map/mount fails, rbd lock is not freed in some situations"

[2016-02-01 17:47] erikh commented on #122
use lock too

[2016-02-02 14:03] #119 closed

[2016-02-03 21:41] mapuri opened #128 "auto generation of bash auto completion for volcli"
It will be good to tie bash completion scripts to the go source code as discussed here https://github.com/contiv/volplugin/pull/126#issuecomment-179407082

[2016-02-05 18:45] erikh opened #132 "Refactor: volmaster and volsupervisor need to take daemon structs as self"
Right now we pass these around the `daemon` object quite a bit, and in volsupervisor's case, a lot of arguments that travel down the stack. We should organize these into structs the methods live on, so that they can re-use the same data without having ugly call sites.

[2016-02-05 19:21] #121 closed

[2016-02-05 19:21] #122 closed

[2016-02-09 09:54] #111 closed

[2016-02-18 11:45] unclejack opened #142 "debugging information & version information"
volplugin needs a feature which allows us to retrieve debugging information from a running system and display it in the CLI.

The following bits of information would be the minimum set of fields to show:
the number of file descriptors
volplugin version
ceph version (?)
architecture
kernel version

[2016-02-26 17:30] mapuri commented on #108
fixed by #145

[2016-02-26 17:30] #108 closed

[2016-02-26 17:32] mapuri opened #153 "develop a null volume driver"
This driver shall be primarily used for testing and benchmarking voplugin functionality in isolation.

[2016-02-27 16:15] erikh opened #156 "snapshots race volume remove"
I noticed today that the process of taking a snapshot can race `volcli volume remove` when the snapshot delay is short enough so that they compete.

[2016-02-27 16:16] erikh commented on #156
Solution is probably to implement a locking state just for snapshotting which will be considered alongside the use locks.

[2016-02-27 18:27] #132 closed

[2016-03-01 18:39] #75 closed

[2016-03-01 21:01] erikh opened #160 "some parameters should not stay with the volume"
I wonder if IOPS in particular should be handled as a part of the volume policy, or as a parameter on mount. Currently it does the former. I think it might be best if it did the latter. I'm not sure what the best solution is right now.

[2016-03-02 19:34] #80 closed

[2016-03-04 00:21] erikh opened #164 "Security, AAA, and policy management, and multitenancy"
## Overview

This is a bucket-list of ideas @jainvipin and I sketched out while thinking about this problem.

Basically we want to have a basic RBAC in the sense that each consumer has a role, and roles are used to gain access to things.

Certs are tied to roles. Certs are the unit of authentication. Superusers will have a secondary set of certs to access etcd directly. We are thinking about using

[2016-03-04 00:29] erikh opened #165 "Snapshot management"
## Overview

Snapshots in volplugin suck. Let's make them better.

## What's good

* Takes snapshots
* Does them on an interval
* Keeps X of the latest ones

## What's not

(checklist is for separate PRs that could solve this)

* [ ] Periodic snapshots that happen on tiers
* [x] Toggle snapshotting during operation (after the policy's been set for the volume)
* [x] `volume copy <tenant> <orig> <sn

[2016-03-04 00:33] erikh opened #166 "Storage Backends"
Some ideas (please add your own!):

* [ ] NFS
* [ ] Amazon EBS
* [ ] GCE storage

[2016-03-04 04:56] erikh commented on #160
really just a dupe of #67; i guess that's an indicator of about how important this is...

[2016-03-04 04:56] #160 closed

[2016-03-04 19:06] erikh opened #167 "Docker umount issue"
Tracking this here: https://github.com/docker/docker/issues/20939

[2016-03-07 08:14] #153 closed

[2016-03-14 14:53] erikh opened #177 "Runtime and Creation policies"
# Overview

Splitting the policy into runtime and create-time configuration policies seems like the best idea for the purposes of modifying the runtime configuration and keeping the create-time configuration static, something that has been a problem up to this point.

## Property Map

### Runtime Configuration

Consists of things that would be applied in a variant facility, like at mount time.

*

[2016-03-14 18:12] #156 closed

[2016-03-15 14:41] erikh commented on #68
covered by #177

[2016-03-15 14:41] #68 closed

[2016-03-15 14:41] erikh commented on #67
covered by #177

[2016-03-15 14:41] #67 closed

[2016-03-15 14:41] #63 closed

[2016-03-15 14:42] erikh commented on #103
#66 covers this, I see no point in leaving this open

[2016-03-15 14:42] #103 closed

[2016-03-15 14:43] erikh commented on #66
The latest news with this is that due to mount propogation across containers, this is very hard to do. I'm still working on it but for now, you'll need to run volplugin on the host.

[2016-03-15 14:44] erikh commented on #59
hi @ChristianKniep, while we may consider this in the future, I don't believe it's realistic to keep this ticket open in the meantime, as we have no definite plans to implement it.

I'm going to close this but we will consider the feature in the future. Thanks for submitting the idea.

[2016-03-15 14:44] #59 closed

[2016-03-16 08:20] erikh opened #181 "Re-upload of policy orphans volumes"
reproduction:

[code]

The resulting `policy1/test` is still in existence, but its etcd record is gone, basically orphaning it.

This should be an easy patch so I would ask that some others on the team could take it?

[2016-03-16 08:27] erikh opened #182 "volcli improvement: detect etcd missing keys and respond with nicer messages"
Currently this would involve changes to the volmaster, config library and volcli. If the volmaster was smart enough to return 404 on etcd "key not found" failures, it would be a much nicer user experience, and easier to test in the long term I think. It could also exit a different value if the etcd key is missing.

[2016-03-16 16:00] mapuri commented on #181
@erikh I can look into this. I am assuming the correct behavior would be to fail the second upload if policy with that name already exists, right?

[2016-03-16 16:23] mapuri commented on #181
ah, nvm I think I got it wrong. This is the case where user wants to update the intent so the volumes with old intent should have continued to exist.

[2016-03-16 16:54] erikh commented on #181
Correct on the last post; we re-upload the policy without trashing the volumes.

[2016-03-24 21:36] rmartinez3 opened #201 "having issue running make run-build"
make run-build
go get -u github.com/kr/godep
GOGC=1000 godep go install -v ./volcli/volcli/ ./volplugin/volplugin/ ./volmaster/volmaster/ ./volsupervisor/volsupervisor/
config/global.go:12:2: cannot find package "github.com/Sirupsen/logrus" in any of:
	/usr/lib/golang/src/github.com/Sirupsen/logrus (from $GOROOT)
	/home/rodrigo/newwork/src/github.com/contiv/volplugin/Godeps/_workspace/src/github.c

[2016-03-25 09:59] erikh commented on #201
Hi! Try upgrading your go to go 1.6 and see what happens, if you don't
mind.

-Erik

On 24 Mar 2016, at 14:36, rmartinez3 wrote:

[2016-03-25 15:13] rmartinez3 commented on #201
Yea had version 1.5 upgrading it to 1.6 got it to work. It was able to get the go dependencies. Thanks for the help.

So if you have go version lower than 1.6  you wont be able to build because the godep,json is set to version 1.6??

[2016-03-25 15:46] erikh commented on #201
go 1.6 turns on a feature which we want, that eliminates the need for godep as a wrapper; you can just use the vendor/ directory now instead of doing what godep needed to do before.

I haven't quite gutted all the godep code yet because I was hoping it'd still work for 1.5, but that's apparently not the case.

Let me know if you run into any more problems; gonna close this one.

[2016-03-25 15:46] #201 closed

[2016-03-30 19:26] rmartinez3 opened #206 "volume mounting to more than one container"
I made a volume with volplugin. Saw that i was able to mount with it in different hosts while having volplugin running. However, if i tried mounting the volume with more than one container, it either tells me that there is a lock or sometimes it seems to mess things up and im not able to mount to the volume anymore.

[2016-03-30 19:30] erikh commented on #206
Yes. This is partially a feature and partially a bug in docker.

Unfortunately due to how ceph works with the linux fs cache (I think, at least), you can't multi-host mount volumes safely. So we implemented a locking mechanism to disallow multi-host mounts.

The second set of issues you are seeing (the volume disappearing) is likely https://github.com/contiv/volplugin/issues/167 which is going to

[2016-03-30 19:37] rmartinez3 commented on #206
got it . thanks for the quick response

[2016-03-30 19:37] #206 closed

[2016-03-30 19:38] erikh commented on #206
note that if you trigger the double unmount the only real fix is to restart docker.

thanks again for the report!

[2016-04-07 21:12] erikh opened #210 "latest volcli breaks contivctl"
Reference: http://contiv.ngrok.io/job/Contivctl_Release/25/

[2016-04-08 20:46] #181 closed

[2016-04-08 20:46] #177 closed

[2016-04-08 20:46] #167 closed

[2016-04-08 20:48] #142 closed

[2016-04-09 10:10] erikh commented on #210
This is the crux of the issue:

[code]

Unfortunately this means that we have to think of a new strategy for embedding the tools. I think turning contivctl into a shell script which netctl and volcli can use depending on which command set is requested is the simplest thing that could possibly work.

WDYT @shaleman @mapuri?

[2016-04-09 10:29] erikh opened #214 "NFS Backend"
* [x] Add NFS mount support
* [x] Add lock-free operation (toggle per volume w/ flag or policy) for mounts so NFS can be fully exploited (moved to #259)
* [x] Split runtime, create time, and mount time parameters to use separate backends (this should be tracked in a separate ticket)
* [x] "Dummy" filer for testing advanced filer features (this too)
* [x] Initial filer support for snapshots, size q

[2016-04-09 10:30] erikh commented on #214
/cc @jainvipin

[2016-04-09 10:31] erikh opened #215 "Reclamation policies"
A policy system for groups with large numbers of volumes to garbage collect volumes after they have been stale for a certain period of time.

Probably should be applied at the policy level. Volsupervisor can take care of the dirty work.

[2016-04-09 10:36] erikh opened #216 "Metrics integration"
The volmaster, volsupervisor, and volplugin should all expose metrics endpoints over their transports, e.g. volplugin serves over the unix socket and volmaster can serve over http. volsupervisor should probably publish over a unix socket as well to avoid having to expose a network endpoint.

Metrics to expose:

* Total # of Mounts over run time
* Total # of Active Mounts
* Total space used
* Per-v

[2016-04-09 10:39] erikh opened #217 "Monitoring integration"
The `info` package allows us to export some basic information about the health of the services. We can probably use this to define thresholds within the services themselves to take action based on how healthy they are; e.g. a volplugin who's failing a lot of mounts, or has an obnoxious number of goroutines, may choose to restart itself or refuse mounting new devices until serviced.

It should also

[2016-04-09 10:45] erikh opened #218 "Volsupervisor to take a signal to snapshot remotely"
volsupervisor needs a HTTP REST endpoint to service a signal from applications or database containers which wish to sync their filesystems before snapshotting for a consistent snapshot; this signal would create a manual snapshot that would still get cleaned up in a normal `keep` scenario.

The signaling will be toggle-able through the policy by adding a `signal: true` property in the snapshot runt

[2016-04-11 16:57] mapuri commented on #210
@erikh

Yes, I think a shell script will work.

To make sure I understand the issue, compilation failure is showing up as these types (`...codegangsta/cli".Flag` and `...codegangsta/cli".Command`) differ between the latest version of `codegansat/cli` (that contivctl is pulling) and the version that the projects are using?

We could solve it by bumping up the godeps in our projects (volcli and netc

[2016-04-11 16:58] erikh commented on #210
no, it's because the paths differ; I'm fairly certain they're using the same version.

I'll move forward with the shell script today.

[2016-04-11 18:21] erikh commented on #210
to answer the longer question (which I missed at first); I think the end-user will want this tool, and if not, we can provide the script for those who do. I don't think it'll be very complicated.

[2016-04-11 18:33] mapuri commented on #210
sgtm @erikh

from the original failure, it did look like it was a version issue. For instance, the `cli.Flag` implementation is different between [the latest](https://github.com/codegangsta/cli/blob/master/flag.go#L35) and [volplugin's vendored](https://github.com/contiv/volplugin/blob/master/vendor/github.com/codegangsta/cli/flag.go#L34) version of `codegangsta/cli`.

[code]

I agree with the ans

[2016-04-15 13:02] vishal-j opened #223 "Fix /get/{policy}/{volume} REST API"
It currently returns
[code]
Expect it to return same output as `volcli volume get policy1/postgres-vol`:
[code]

[2016-04-15 13:22] vishal-j opened #226 "Add REST endpoints for policy CRUD"
REST endpoints to do CRUD of storage policies.
volcli equivalent of:
[code]

Also for upload and delete.

[2016-04-15 22:46] mapuri opened #229 "volmaster REST endpoints need some rework"
tracking the items from comments here: https://github.com/contiv/volplugin/pull/228/files#r59947447

(edited by @erikh)

* [x] for everything that uses etcd straight from volcli, please implement the appropriate REST call in the volmaster instead, and point volcli to use it.
* [x] Fix routes to be clearer (covered by #255)
* [x] Clean up existing endpoints if necessary -- structs in use should be

[2016-04-16 07:50] #223 closed

[2016-04-16 07:50] #226 closed

[2016-04-17 08:09] erikh commented on #210
rewrote contivctl, this can be closed.

[2016-04-17 08:09] #210 closed

[2016-04-18 12:54] erikh commented on #66
I've created https://hub.docker.com/r/contiv/volplugin-autoconfig/ since we now have it working in containers. I will provide more as a pull request that utilizes this on the VMs since we can't host multi-host yet on a single host.

[2016-04-18 14:00] vvb opened #232 "TTL and Timeout aren't getting set when they're absent."

[2016-04-18 14:01] vvb opened #233 "volplugin panic during a docker-compose scale test"
This was probably during a invalid scenario, where `docker-compose scale` was used to scale to 1000 instances of a container which had a volplugin based volume. Need to see if the panic could have been avoided, if not, please close this issue.
[code]

[2016-04-18 14:09] erikh opened #234 "mapping/mount lock issue"
http://contiv.ngrok.io/job/Volplugin_CI/588/console

This is happening because the volume is trying to get removed while it is still mapped; this is a mistake in our code.

[2016-04-18 14:26] erikh commented on #232
I need to verify this is happening in the latest build, since we tested against an older build when we saw this and I'm pretty sure I resolved this a while ago.

[2016-04-18 18:04] mapuri opened #237 "Compatibility checks for backends"
#231 provides user a way to specify the different backends to perform volplugin operations viz. CRUD, mount and snapshots.

This issue tracks the discussion about handling multiple backends at policy definition time (https://github.com/contiv/volplugin/pull/231#issuecomment-211478222)

Following are a few thoughts on possible ways of handling/providing mix of backends:

### Validate user input

Th

[2016-04-18 21:34] erikh opened #239 "Event logging"
Need to figure this out still. Just putting in the ticket so I remember to address it later.

[2016-04-18 22:07] #234 closed

[2016-04-18 22:09] #218 closed

[2016-04-19 00:02] #233 closed

[2016-04-20 07:50] #232 closed

[2016-04-21 19:22] vishal-j opened #244 "REST endpoint to list all the policies"
It will be nice if it returns an array of policies:
[code]

[2016-04-22 06:44] thbeh opened #245 "running volplugin in ubuntu 14.04"
I am trying to setup volplugin to run on ubun 14.04 which will use a ceph deployed on docker. I am not sure how this is setup. I managed to install volmaster, volsupervisor and volcli.

running volmaster , i got this -
ERRO[0000] Could not retrieve global configuration: 100: Key not found (/volplugin/global-config)

did I missed anything?

[2016-04-22 06:50] jainvipin commented on #245
Did you try configuring global information, using step 3 at http://docs.contiv.io?

Following link specifies how the global configuration could look like:
https://github.com/contiv/volplugin/blob/master/systemtests/testdata/test/global1.json

[2016-04-22 06:50] erikh commented on #245
Hi! So, a couple of quick things first:

we have documentation here: http://contiv.github.io/docs/2_volplugin.html#Architecture if you haven't seen it yet. The top-level documentation is at http://contiv.github.io.

To answer your direct question, global configurations are not required (they have defaults) but to upload one, `volcli global upload < path/to/global.json` to upload a global policy. Y

[2016-04-22 06:51] erikh commented on #245
Global configurations are also covered here but only briefly: http://contiv.github.io/docs/2_volplugin.html#Configuration

Right below that is the policy JSON examples and you will likely want to read those as well.

[2016-04-22 07:01] thbeh commented on #245
So that was what I have missed - global policy
now running docker volume create -

volplugin thbeh ~$ ./bin/volcli policy upload policy1 < systemtests/testdata/ceph/policy1.json
volplugin thbeh ~$ docker volume create -d volplugin policy1/test
docker: "volume create" requires 0 arguments.
See 'docker volume create --help'.

Usage:	docker volume create [OPTIONS]

Create a volume

[2016-04-22 07:27] erikh commented on #245
This is docker's command-line tooling suffering a bit. It requires a `--name` option be passed for the volume name.

`docker volume create -d volplugin --name policy1/test`

Is it in the docs the other way? I'll verify but if you can point it out, that'd be great.

[2016-04-22 07:29] erikh commented on #245
ah, it does! crap.

[2016-04-22 07:30] thbeh commented on #245
The docker doc does but not contiv docs....that's for the help....

[2016-04-22 07:36] erikh commented on #245
Yep! I'm going to close this now, but please feel free to start a new ticket if you run into trouble.

[2016-04-22 07:36] erikh commented on #245
actually gonna leave this open until I fix the docs

[2016-04-22 09:10] thbeh commented on #245
One last question though, does all the volmaster, volsupervisor and volplugin have to be run by sudo?

[2016-04-22 16:45] erikh commented on #245
yes, they need to run as root. I'm working on a fully containerized solution (complete with a container to install it all) that should be available in the next week or two.

[2016-04-22 16:48] erikh commented on #245
some additional notes:

volplugin and volmaster and volsupervisor all execute the `rbd` command heavily. volplugin mounts directories so it'll probably always need to be root. However, if you made volmaster and volsupervisor capable of running `rbd` without root access, you should be able to make those work without root.

Our NFS support should not need this, if you're interested in that. Just vol

[2016-04-22 17:47] #245 closed

[2016-04-22 17:48] erikh commented on #245
Docs are updated so this was closed. Please feel free to open additional tickets for more questions.

[2016-04-24 06:03] thbeh opened #246 "using volplugin in mesos"
Got it to work with docker, thanks to erikh. Could the driver be use with mesos? How would json file looks like with marathon?

[2016-04-25 18:15] erikh commented on #246
Not quite yet. We're looking at Mesos and Nomad as a target later this
year.

Let's leave this open to track it.

-Erik

On 23 Apr 2016, at 23:03, T H Beh wrote:

[2016-04-25 20:45] thbeh commented on #246
Just an unintelligent question, maybe due to my inexperience on both volplugin and mesos. Mesos does creates docker containers but why couldn't Mesos uses the same -v argument to determine the volume?

[2016-04-25 22:01] erikh commented on #246
It's definitely possible that's the case, but I don't really know mesos
yet so I can't confirm. If you have the opportunity to test it, I'd love
to hear your results.

-Erik

On 25 Apr 2016, at 13:45, T H Beh wrote:

[2016-04-25 22:35] thbeh commented on #246
Looks like it is working.....

[2016-04-25 22:51] erikh commented on #246
whoa. NICE!

[2016-04-25 23:55] thbeh commented on #246
Next to test is cassandra cluster on Mesos using volplugin on Ceph. For now I will close this. Thanks

[2016-04-25 23:55] #246 closed

[2016-04-26 01:05] erikh opened #247 "dump etcd into a debug-friendly format when requested"
/cc @jainvipin

This should have the following changes:

* [x] Respond to SIGUSR2
* [x] Dump etcd keys into /tmp (use mkstemp please)
* [x] tar.gz etcd keys and log filename in volplugin.

[2016-04-29 23:40] thbeh opened #249 "starting volplugin as service -- init.d scripts"
Hi, I was wondering whether it is possible to start the 3 process (volmaster, volsupervisor and volplugin) as ubuntu/upstart (i am using trusty as my platform) services. Any idea how it can be done?

[2016-04-30 19:23] erikh commented on #249
Sure! So, all the services run in foreground processes so they would need to be flagged as daemons in upstart init files or run as sysv rc scripts with debian's `start-stop-daemon` command. The latter is probably the path of least resistance.

I can try putting something together, but just about any existing init script in `/etc/init.d` will work as a good template if you need to get going before

[2016-05-10 19:33] mapuri commented on #229
List of work items:
- [ ] make GET endpoints consistent - will be addressed by #255
- [ ]  make POST endpoints consistent

[2016-05-12 06:52] erikh commented on #247
@unclejack since you are working on other things I'd like to give this ticket to @dseevr who offered to work on it.

[2016-05-14 09:59] erikh opened #257 "Integration with other schedulers"
Just putting this here for now, I haven't investigated these fully yet.

* [x] Mesos (already reporting as working, but I'd like it validated by the team too)
* [ ] Kubernetes has a volumes API
* [ ] Nomad is getting volumes in 0.4

[2016-05-16 16:54] erikh opened #258 "Update documentation for NFS"

[2016-05-16 16:55] erikh opened #259 "Add lock-free operation (toggle per volume w/ flag or policy) for mounts so NFS can be fully exploited"

[2016-05-16 16:56] erikh opened #260 "Filer support"
* [ ] Initial filer support for snapshots, size quotas and IOPS

[2016-05-16 16:57] erikh opened #261 "Support for graceful NFS failover when a mount goes stale"

[2016-05-16 16:57] erikh commented on #214
yay

[2016-05-16 16:57] #214 closed

[2016-05-17 07:53] angry-tony opened #262 "volplugin question."
I'm a new to volplugin.
how to install volplugin on pre existing centos 7.2 instances, such as a set of bare-metal machines with Centos 7.2 installed?
is there any documentation or instruction ??

[2016-05-17 08:35] erikh commented on #262
Hi Tony,

Sure. What we have is our github.com/contiv/ansible repository. If you're not familiar with ansible, you'll want to learn it @ ansible.com. If you are, check out our [Vagrantfile](https://github.com/contiv/volplugin/blob/master/Vagrantfile) for the vars you need to provide to provision both netplugin and volplugin.

/cc @shaleman since he also has a netplugin ticket here: https://github.

[2016-05-17 08:42] erikh commented on #262
We also have our cluster product @ https://github.com/contiv/cluster and that may help you with your provisioning needs. /cc @mapuri

[2016-05-17 08:52] angry-tony commented on #262
wow.. it's great..
thank you for your info.. I will try it.. thanks.

[2016-05-17 09:03] erikh opened #263 "volcli volume remove fails to remove rbd volume (500 error) but removes volume in etcd"
This should not happen, perhaps the order should be reversed. `force-remove` solves the orphaned volplugin volume problem.

[2016-05-19 06:45] erikh opened #266 "policies do not appear to be able to be replaced"
Perhaps we overlooked this, but I am not able to migrate a policy from `nfs` to `ceph`.

[2016-05-19 19:15] #263 closed

[2016-05-19 19:29] erikh opened #269 "Policy audit-logging / journal"
Policies cover volumes over time and may be modified, so the policy may drift over time (and the volumes themselves) so far that the volumes no longer resemble the policies they were created under

It would be nice to cross-reference these somehow, but for now a timestamped journal would be ideal. This would also be very useful for audit logging later.

I'm not sure if this information should live

[2016-05-19 19:35] erikh commented on #266
I can't reproduce this now. Going to close and wait for this to happen again.

[2016-05-19 19:35] #266 closed

[2016-05-19 19:35] erikh commented on #262
Hey Tony, since I seemed to answer your questions, I'm going to close this. Please feel free to open a new ticket if you run into specific issues.

Thanks!

[2016-05-19 19:35] #262 closed

[2016-05-20 08:34] unclejack opened #271 "improve testing"
This is a sort of a catch all issue for some improvements we can make to catch some errors sooner.

- [ ] add more tests which shell out to volcli to validate output
- [ ] add more system tests to run before the longer running ones
- [ ] maybe bail out if the short tests fail to avoid running the long running ones

[2016-05-21 20:56] erikh commented on #271
can you clarify what you mean by testing here?

[2016-05-23 06:46] unclejack commented on #271
@erikh It's done. I'll add more items as I think of more things to test.

[2016-05-23 08:49] erikh commented on #271
I don't agree with "maybe bail out". I want all the test data, so I can make an informed decision. Please do not attempt this.

[2016-05-23 08:50] erikh commented on #271
I'm also unsure what short system test ordering would accomplish given the previous request. I thoroughly love the volcli testing.

[2016-05-23 08:51] erikh commented on #271
sgtm

On 22 May 2016, at 23:47, unclejack wrote:

[2016-05-23 09:23] unclejack commented on #247
@erikh Sure!

[2016-05-24 00:04] mapuri opened #277 "push versioned container images as part of `make release` target"
This ticket proposes an outline of pushing versioned container images with every release:
- `make release` target shall be modified to also call the existing `make docker-push`
- `make docker-push` target shall use the `BUILD_VERSION` environment variable (similar to `make run-build`) to tag the container images, something like below:
[code]

[2016-05-24 00:11] erikh commented on #277
Actually, let's carve this so that dev builds can't be pushed. This is not necessary and we probably don't want to push them at all to avoid confusing users.

[2016-05-24 00:20] mapuri commented on #277
ah, yeah that's a good point. May be we can fail the `docker-push` target if build-version is empty, assuming that it will caution the user (with push credentials) to think.

[code]

[2016-05-24 00:23] erikh commented on #277
Yes, that was what I was thinking too. Thanks.

-Erik

On 23 May 2016, at 17:20, Madhav Puri wrote:

[2016-05-24 08:58] angry-tony opened #278 "Creating volume Formatting volume: Error creating filesystem on /dev/rbd0 with cmd: \"mkfs.btrfs %\". Error: Command: [/bin/sh -c mkfs.btrfs /dev/rbd0], Exit status 1"
Hi.. i'm new to volplugin.
when i ran "docker volume create" to use btrfs for docker volume, i got this error.
but ext4 is ok.
i guess btrfs's options need to change.

[code]

mkfs.btrfs not work.
[code]

[2016-05-24 21:37] dseevr commented on #247
This can be closed now 👍

[2016-05-26 00:14] angry-tony opened #279 "question : is it possible to use same volume on each nodes"
hi.

is it possible to use same volume on each container??
how to share the volume for every containers??

when i tried to use same volume between two containers, but i could not.

volume create "hoho/foo"
[code]

on two nodes, run docker with the volume created above
[code]

"web" on node-05 was ok with the volume, but "db" on node-06 did not use it.
- error log
[code]

[2016-05-26 00:54] #244 closed

[2016-05-26 00:58] #247 closed

[2016-05-26 00:59] #259 closed

[2016-05-26 00:59] #258 closed

[2016-05-26 00:59] erikh commented on #182
@dseevr can you take this one?

[2016-05-26 01:01] erikh commented on #279
This is the exclusive locking system. Ceph cannot work with block devices mapped across two hosts.

If you wish to have multiple hosts use the same data for different containers, I strongly suggest looking at our NFS support; we will have other options eventually that can exploit this behavior too.

[2016-05-26 01:03] erikh commented on #278
Hmm. I'll look into this one. We have a test using btrfs too. Sorry to cause you so much trouble!

Here's the policy we use in our tests: https://github.com/contiv/volplugin/blob/master/systemtests/testdata/ceph/fs.json

Let me know if you're doing something different, this is definitely a bug!

[2016-05-26 05:17] dseevr commented on #182
Yep, I'll just need to be pointed to the relevant code sections, and I probably won't have time to start looking at it until the weekend.

[2016-05-27 07:29] erikh opened #281 "Lockup running CI units"
http://contiv.ngrok.io/job/Volplugin_Release/152/changes

More to come later.

[2016-05-27 07:29] erikh commented on #279
Closing this one.

[2016-05-27 07:29] #279 closed

[2016-05-28 23:17] tsaridas opened #282 "volume mounted multiple times"
Hello,

I tested the plugin with make demo and tried the scenario to mount the same volume multiple times.

What I noticed is that the first time I try to mount a volume which is already mounted somewhere else it fails with message
[code]
The second time I try though the volume mounts normally and I could write from both containers and read from them.
I tested on the same host and did not try runn

[2016-05-28 23:50] erikh commented on #282
Interesting. I will look into this today. Thanks for the report.

[2016-05-29 01:04] erikh commented on #282
So, this is what I have done so far, all on a single host of a 3 host cluster (our standard setup):

1. Attempted to acquire a lock in one shell with a loop while another held the lock
1. Verified that releasing the lock does indeed stop the other loop (as it acquires the lock, entering a container)
1. Verified that starting a stopped container -- that was holding the lock previously -- could not

[2016-05-29 01:37] dseevr commented on #282
I was able to reproduce this by following these steps:

1. Ran `make demo` and ssh'd into mon0
1. Uploaded policy1.json
1. Created a volume using policy1
1. Ran `while [ true ]; do docker run -it -v policy1/foo:/mnt alpine sh; done` in Terminal 1
1. Ran `while [ true ]; do docker run -it -v policy1/foo:/mnt alpine sh; done` in Terminal 2
1. Sent EOF to Terminal 1 to exit sh and Terminal 2 immediat

[2016-05-29 01:38] erikh commented on #282
Thanks for the details. I think I have a fix.

[2016-05-29 01:49] dseevr commented on #282
I was not able to reproduce the issue by having two different hosts trying to create a container using the same volume in a tight loop.

[2016-05-29 01:56] erikh commented on #282
I've submitted #283 which I believe has the fix for this issue, btu I am not testing this directly. I am testing something very similar though which is why I thought this was just fine. Computers.

Anyways, you may wish to track this ticket.

[2016-05-29 02:29] erikh commented on #282
So, the more I think about this, the less trouble it will be and the better off everyone's lives will be if we just let this happen instead of trying to prevent it. I think what we should do instead of the current behavior is:

1. Track all mount requests for a specific volume into a "mount counter"
1. When mount count > 1, just return the path of the mounted volume
1. When mount count < 1, actual

[2016-05-29 02:31] dseevr commented on #282
SGTM

[2016-05-29 02:31] erikh commented on #282
@unclejack @mapuri @jainvipin strong opinions here?

[2016-05-29 02:34] #165 closed

[2016-05-29 04:08] jainvipin commented on #282
@erikh tracking mounts using `mount counter` sounds like a good idea. counter increment must be lock safe.

[2016-05-29 05:18] erikh commented on #282
Yep, sorry I omitted that detail.

[2016-05-29 06:32] erikh opened #284 "system tests do not work on mac os x"
They should

[2016-05-30 07:26] erikh commented on #282
#286 was provided to resolve this issue as prescribed above.

[2016-05-30 09:26] tsaridas commented on #282
Hello,
I can confirm.
I now get message :

[code]

Thanks for your support.

[2016-05-30 09:28] erikh commented on #282
We identified it as a race; so you will not necessarily see it every
time.

-Erik

On 30 May 2016, at 2:26, Andreas Tsaridas wrote:

[2016-05-30 09:32] tsaridas opened #287 "Feature request : support for zookeeper/consul"
Hello,

I know its an extra and doesn't have high priority but I just hate that every application uses some other tool ( etcd, zookeeper, consul ).

It would be great if you could add support for the two others.

Thanks

[2016-05-30 10:28] erikh commented on #287
So, we're planning a minor rewrite after dockercon. What we can do is consider this in the redesign. I can't guarantee anything imminent due to time and resource constraints. I would like to at least support consul though.

libkv is unfortunate because it is very resource hungry with etcd and zookeeper stores, so I can't use it.

[2016-05-30 12:23] tsaridas commented on #282
Hi again,

Same problem.

[code]

[code]

[code]

I couldn't mount the volume from another host though.

I tested with  "unlocked": true, and I can mount volume from different hosts.

I also get the below error. Dunno if this whole thing has something to do with etcd.

[code]

[2016-05-30 21:38] erikh commented on #282
Yep, #286 fixes this issue, but creates a new one regarding NFS, so I am fixing that now.

[2016-05-31 23:10] erikh commented on #282
Do you get the unlocked error trying to mount across hosts? or just on the same host?

[2016-05-31 23:11] erikh commented on #282
I just added that feature last week, beware, there are probably still a few bugs. :)

[2016-06-02 15:10] #282 closed

[2016-06-02 15:10] erikh commented on #282
Check out the nightly build in the next day. It will have the fixes you need, I think.

[2016-06-02 15:19] #281 closed

[2016-06-02 15:57] erikh commented on #278
WOW. Nice catch, this means our test is broken too.

[2016-06-02 16:09] erikh commented on #278
Ok, I see what's going on here now. I'm going to keep this open until the error message is clarified.

@angry-tony what you need to do is increase the size of your volume if you're using the fs.json 10MB default. This is too small for btrfs. Works just fine with 100MB volumes.

[2016-06-03 02:56] #182 closed

[2016-06-03 03:01] erikh commented on #278
Closing this as the error message was corrected in #290

[2016-06-03 03:01] #278 closed

[2016-06-03 09:08] erikh commented on #249
Let's have this cover the appropriate ansible as well.

[2016-06-03 09:38] CBR09 commented on #282
Same issue, try to use volume multi time cause many error :(

[2016-06-03 09:50] tsaridas commented on #249
Maybe you can also have a package at https://launchpad.net/ubuntu/+ppas

[2016-06-03 13:37] erikh commented on #249
SGTM; I'll need to learn how to do this, but soon, I promise. :)

On 3 Jun 2016, at 2:50, Andreas Tsaridas wrote:

[2016-06-03 13:38] erikh commented on #282
Try tomorrow's release and tell me if things are still broken.

Or are you talking about across multiple hosts?

On 3 Jun 2016, at 2:38, Vu Nguyen Duy wrote:

[2016-06-05 16:02] vishal-j opened #294 "Error while copying snapshot to a volume"
I see below error while calling this rest endpoint
POST /volumes/copy

Supplied json
{
  "volume": "postgres-vol",
  "policy": "db-storage-policy",
  "Options": {
       "target": "volumefromSnapshot",
	   "snapshot": "2016-06-03-15:00:00.573457352-+0000-UTC"
	}
}
Publishing Volume: Creating new volume "volumefromSnapshot" from volume "db-storage-policy/postgres-vol", snapshot "2016-06-03-15:00:00

[2016-06-06 08:07] CBR09 commented on #282
I've tested with latest release, use one rbd image for multi container seem okay, but it's not my desire. I will open new issue.

[2016-06-06 08:31] CBR09 opened #295 "Option to lock mounts on the same host"
Hi @erikh and everyone,
When I create a container with rbd image, I want to lock rbd image to prevent the other container use it. Mean don't allow two containers use same rbd image.
I've tried use both unlocked: false and unlocked: true, they didn't work, they allow two containers on same host use same rbd image. So, how can I do that ?
Thanks

[2016-06-06 09:36] erikh commented on #282
OK. Thanks, we will do our best to accommodate the needs here, but I ran
into some technical barriers implementing local locks. Namely, the
existence checks I was using were more like schrödinger's cat than a
light switch.

In reality, the technical barrier is probably me here. Some ideas we can
try in the near future:

Perhaps once Docker 1.12 is out, the volumes API will have a new unique
identi

[2016-06-06 10:29] CBR09 commented on #295
Hi @erikh
I suppose you answer to me at this issue :D.
Thanks you for all you have done, I will keep watching volplugin in future.
I think delegate lock mechanism to storage driver would be an great idea. With ceph, you can use rbd add lock and volplugin will check rbd lock before mount, look like https://github.com/porcupie/rbd-docker-plugin have done.
Thanks

[2016-06-06 10:56] erikh commented on #295
Familiar with the project; we initially implemented locking this way. At
high volumes (many locks acquired for the same volume over a short
period of time) RBD locking seemed to break down a lot, so I didn't feel
comfortable relying on it. Also, there is no NFS story here and we want
to start implementing lots of backends aside from NFS and Ceph.

That said, there seems to be a good case for them

[2016-06-06 10:58] erikh commented on #295
whoops! I didn't realize this was a new issue! Been doing this all from email so far LOL.

Let's leave this open to discuss it.

/cc @mapuri @jainvipin @dseevr @unclejack

[2016-06-06 12:08] unclejack opened #296 "potential bug with deleting volumes"
The only thing we have regarding this potential bug is:
[code]

[2016-06-06 12:12] #296 closed

[2016-06-06 12:18] erikh commented on #294
I think I see the issue here. Was the volume mounted at the time you took the snapshot?

[2016-06-06 12:35] erikh commented on #294
At the time you made the COPY, rather. The snapshots should be working fine.

[2016-06-06 17:33] vishal-j commented on #294
Yes, the volume postgres-vol was mounted when I made the copy.

[2016-06-07 22:53] erikh opened #298 "API change requests for UX improvements"
@vishal-j sent us these requests via email:

* Accept a Request to copy a snapshot of an existing volume to a new volume.
  * POST /volumes/copy

[code]

* Returns the mount for the specified volume with the specified policy.
  * GET /uses/mounts/{policies}/{volume}
    * {policy} is the name of the policy
    * {volume} is the name of the volume

[code]

[2016-06-08 03:00] CBR09 commented on #295
I understand what you said about implement locking at storage driver, more storage drivers more code paths.
I've tried a few plugin with ceph like: rexray (need cinder), rbd-docker-plugin and volplugin, and between those things, I saw volplugin's policy feature is amazing, but I realized volplugin missing locking mechanism. that's mean I want volume (rbd image) was used by a container, no one can

[2016-06-08 07:53] erikh commented on #295
It does that across hosts. I'm working on fixing this now; I will get
back to you tomorrow.

On 7 Jun 2016, at 20:00, Vu Nguyen Duy wrote:

[2016-06-08 07:59] unclejack commented on #298
Isn't the second part already taken care of by https://github.com/contiv/volplugin/blob/master/volmaster/daemon.go#L107 ?

[2016-06-08 08:00] erikh commented on #298
#298 resolves the first one, the others are vetted

[2016-06-08 21:15] #298 closed

[2016-06-08 21:46] quater opened #300 "Option to Mount Volume at Sub Directory"
I started to evaluate Volplugin today and really like it. Great work!

Volplugin is a strong contenter for my project and I am wondering whether you would consider the following feature request.

### Status Quo

Volplugin allows to mount volumes at their root location as Docker does equally.
[code]

### The Problem

I would like to be able to mount a volume at a given sub directory position. The r

[2016-06-08 22:24] erikh commented on #300
This sounds great. What I'd like to propose instead of doing this with a `-v` syntax is to do this within the policy; it'll be easier to control at the high-level entry point docker run is supposed to be, and easier to manage from a visibility (what mount is where) perspective.

FWIW, `-v policy/test/some/dir` would also work, but I'm not sure that's how I'd like this to work, though. Docker itsel

[2016-06-08 23:12] erikh commented on #300
The real trick to this is in the storage driver, which must detect and prevent duplicate mounts for a sub-mount, so only the original mount is managed and the bind mounts are per-container.

This may be complex.

[2016-06-09 11:08] quater commented on #300
The implications and complexities are much greater than I initially through but I feel that feature is worth it as I believe that such feature would make Volplugin the Docker volume extension of choice for so many others.

Here is what I understood from your response in the shape of a sequence of commands that would work if the feature is implemented.

[code]
[code]

Up to this point, it's status

[2016-06-09 11:30] erikh commented on #300
what are the 0,1 here? indexes or something else?

[2016-06-09 11:39] erikh commented on #300
Hmm. I have a better idea that builds on yours.

We keep the `paths` notion in the policy, but make it editable at `docker run -v` time. This would work by fooling docker into THINKING the volume exists when it requests to mount it, but not reporting it in the list of volumes. This would provide a really smooth UX I think.

example:

[code]

The mounts would also be cleaned up on container stop wh

[2016-06-09 11:47] quater commented on #300
@erikh That sounds good!

[2016-06-09 11:52] erikh commented on #300
Ok I should warn you to be fair: it will take some time to get this done as we're preparing for our first release. After that it will be easier to tackle.

[2016-06-09 15:21] quater commented on #300
Thank you for considering this feature. I will get by for the time being and look forward to your release!

[2016-06-09 18:01] #294 closed

[2016-06-10 04:16] CBR09 commented on #295
Hi,
Thanks for your work, I will waiting it.

[2016-06-14 00:56] #249 closed

[2016-06-14 00:58] erikh commented on #229
Closing this; it looks like we're ready to go with these patches and they made it into the v0.1 release. We will revisit the client issue in a separate ticket.

[2016-06-14 00:58] #229 closed

[2016-06-14 19:40] erikh opened #307 "New flags/functionality for `volcli volume remove`"
After discussing a few UX details with @vvb I think this is the best way to move forward with this command:

* `-r`: retry -- this is the current "wait until lock remove or timeout" behavior.
* `-f`: force -- this trumps all locks and removes the volume forcefully if possible. The ultra-destructive version of `volcli volume force-remove`.
* default: attempt to acquire lock and abort immediately if

[2016-06-14 19:53] vvb commented on #307
@erikh LGTM, as stated by you already - aborting immediately needs to be the default option for better UX, while still providing users the options for other behaviours.

[2016-06-14 20:29] unclejack commented on #284
As @erikh has said, the test suite environment takes 12 GB of RAM and this won't work on most Macs.

[2016-06-16 16:48] unclejack commented on #307
@erikh Would you like to have `force-remove` moved to a flag? I've looked at the code and I think it'd be worth discussing the changes in slightly more detail.

[2016-06-16 16:50] erikh commented on #307
no.

[2016-06-17 01:47] #284 closed

[2016-06-20 02:57] CBR09 commented on #295
Any news on this?

[2016-06-20 05:35] erikh commented on #295
This will take a bit, and we're all at dockercon this week. I'll do my best to get to it soon.

[2016-06-20 08:16] CBR09 commented on #295
Thanks you, have a good day!

[2016-06-22 17:34] zachwalton opened #314 "[documentation] link to example global configs is wrong in getting started guide"
http://docs.contiv.io/2_volplugin.html#Do it yourself

"Upload a global configuration. You can find an example one here"

This is a 404: https://github.com/contiv/volplugin/blob/master/systemtests/testdata/global1.json

Should point to:

https://github.com/contiv/volplugin/blob/master/systemtests/testdata/globals/global1.json

[2016-06-22 18:11] erikh commented on #314
Well that's embarrassing. :) I'll try to fix it tonight, thanks for the report!

[2016-06-22 18:11] erikh commented on #314
https://raw.githubusercontent.com/contiv/volplugin/master/systemtests/testdata/globals/global1.json here is where you want to go.

[2016-06-22 18:16] erikh commented on #260
SMI-S is what we will use to talk tot he filers.

[2016-06-24 03:38] zachwalton commented on #314
Rather than open a flurry of documentation bugs...

[code]

This should actually be:

[code]

(1000MB vs. 1000)

Got everything working, thanks! 👏🏻

[2016-06-24 03:47] erikh commented on #314
hahaha. thanks! appreciated.

[2016-06-24 05:17] erikh commented on #314
@shaleman can you make these changes when you integrate our new documentation site?

[2016-06-24 05:17] erikh commented on #314
The reason I'm asking is that they're small and I'd have to re-split hte source material up.

[2016-06-24 06:03] shaleman commented on #314
done.

[2016-06-24 06:05] erikh commented on #314
Thanks!!! I'm going to close this now.

[2016-06-24 06:05] #314 closed

[2016-06-24 21:55] yuva29 opened #315 "make stop and start doesn't work"
YUSHANKA-M-H0YZ:volplugin yushanka$ **make stop**
vagrant destroy -f
==> mon2: VM not created. Moving on...
==> mon1: VM not created. Moving on...
==> mon0: Destroying VM and associated drives...
make clean
rm -f *.vdi
rm -f .vagrant/*.vmdk
YUSHANKA-M-H0YZ:volplugin yushanka$ **make start**
vagrant hits the file descriptor limit on OSX when running this task
10240 is the max you can set on OSX and

[2016-06-27 03:54] erikh opened #317 "Correct plugin code to use docker types"
These types weren't public before when docker was first supporting volume plugins, but now they are. See the corresponding discussion.

https://github.com/contiv/volplugin/pull/313#discussion_r68489642

[2016-06-27 19:30] erikh opened #319 "Staging dev environment on multiple networks"
The networks inside the Vagrantfile should be parameterized (or randomized, perhaps both) so that they can coexist with other VMs on the same host. This will allow multiple dev envs to coexist on the same host.

[2016-06-29 22:38] dseevr commented on #315
I also ran into this a few months ago.  There's a bunch of directories you have to blow away to fix this error.  cc: @erikh

[2016-06-29 22:39] erikh commented on #315
I'll make a note to write some docs on how to fix this.

[2016-07-01 00:13] dseevr commented on #315
[code]

Is there anything else?

[2016-07-01 01:03] erikh commented on #315
t he problem about doing this though is for end users (or anyone not dedicating a full box to volplugin work), doing this will trash all the vms on the system.

vboxmanage has some tools to dot his and I will fix up our makefiles so we can do that.

[2016-07-01 06:23] #317 closed

[2016-07-01 07:52] erikh commented on #307
fixed by #311

[2016-07-01 07:52] #307 closed

[2016-07-01 08:11] #315 closed

[2016-07-01 10:11] erikh commented on #257
Nomad is out and kube will need a bit; closing this ticket for now. Mesos and swarm work.

[2016-07-01 10:11] #257 closed

[2016-07-01 23:29] yuva29 opened #324 "'publishuse' runs indefinitely due to mount failure"
Steps to reproduce
1. create a volume using NFS policy which empty backend attribute
2. try to mount the volume in container (mount should fail)
3. check volplugin log

Log here: https://gist.github.com/3be2c6dbb67afc707a814de55f304483

[2016-07-03 04:53] #319 closed

[2016-07-03 14:23] erikh commented on #324
this is not caused by a policy backend that is left blank, but a missing mount option.

we should add tests for both, though, as I don't think the first case exists either.

[2016-07-07 22:02] erikh opened #328 "add a gofmt check"
This should live in the same part of the build pipeline that provides golint and govet checks.

The command itself should look something like this:

[code]

And it should only work for go files outside of the `vendor` directory.

[2016-07-11 07:14] #324 closed

[2016-07-11 19:27] erikh opened #332 "vagrant reload breaks virtualbox"
This causes the disk errors we typically see when vbox is throttled. Perhaps we should solve this by checking for the file existence before both removing and creating it.

This will need changes to both Makefile and Vagrantfile

[2016-07-11 19:47] yuva29 opened #333 "Docker does not issue unmount after mount failure"
Below is the docker behavior based on mount option

policy1/v4:/mnt:nocopy -> during run there is only mount request; and calls unmount after mount failure
policy1/v4:/mnt -> during run docker issues mount->unmount->mount requests; never calls unmount after mount failure

Here is the similar issue for -w mount option : https://github.com/docker/docker/issues/22564

[2016-07-11 21:40] erikh opened #334 "Global parameters are a pain to edit"
Right now the fixup of the global parameters (converting from time.Duration to an integer with a fixed base like time.Minute) does not "un-fix" on the way out, causing large `uint64`s to be sprayed in the json, which then is multiplied again if an astute reader is not watching.

This is legacy from when volplugin would contact the volmaster for these values and needed an unfiltered version.

volcl

[2016-07-11 21:41] erikh commented on #334
/cc @vishal-j too for when this changes. contiv-ui will need to change too.

[2016-07-12 03:25] dseevr commented on #332
I made the change so that the disks are only created/attached if they don't already exist, but I'm encounter a new problem:  the shared directories are failing to mount during `vagrant reload`

[code]

[2016-07-12 03:28] dseevr commented on #332
I made the change so that the disks are only created/attached if they don't already exist, but I'm encountering a new problem:  the shared directories are failing to mount during `vagrant reload`

[code]

One thing I noticed is that the vbox drivers are not loaded.  This is what they look like on a freshly initialized environment (via `make restart`):

[code]

On a reloaded environment, that comma

[2016-07-12 09:26] erikh opened #335 "glusterfs support"
glusterfs is another clustered filesystem we can use. I think it'll pair well with how volplugin works.

[2016-07-12 09:26] #328 closed

[2016-07-12 09:43] erikh commented on #335
glusterfs configuration distilled:

* use vagrantfile, disable ansible, use box `box-cutter/fedora23`
* on all servers:
  * mkfs.xfs -i size=512 /dev/sdb
  * mkdir -p /data/brick1
  * echo '/dev/sdb /data/brick1 xfs defaults 1 2' >> /etc/fstab
  * mount -a && mount
  * yum install glusterfs-server
* on each server, permuting all combinations:
  * gluster peer probe `<ip>`
* on each server:
  *  mk

[2016-07-12 09:44] erikh commented on #335
The fedora box really concerns me so I'm going to see if I can find an official yum repo to stuff in our ansible which will configure this.

The configuration on fedora is absolutely painless.

[2016-07-12 23:04] erikh commented on #260
#261 also depends on this work.

[2016-07-13 00:13] #334 closed

[2016-07-13 00:38] dseevr commented on #332
It turns out this new issue is related to the fact that part of our Ansible setup updates all the packages on the system which *may* include the kernel.  If a new kernel is installed, the vbox guest drivers are not compiled for it and will not be loaded at the next boot (i.e., the `vagrant reload` this PR is about).

[2016-07-13 20:42] dseevr commented on #332
Manually fixing this and `vagrant reload`ing results in the guests coming up without Docker running.  This is causing etcd not to start which causes tests to fail.  Looking into this now.

[2016-07-14 09:59] erikh opened #345 "Get systemtests running in containers"
Now that #344 exists, we're going to get this bootstrapped inside our test environment.

* [ ] Make building the autorun and volplugin containers a part of the normal build process (use a shell script please)
* [ ] Adjust `make run` to execute the autorun suite on each host.
* [ ] Adjust systemtests to manage container processes instead of host ones (`util_test.go`)

[2016-07-14 20:34] erikh opened #348 "Volume CRUD queue"
#335 depends on this, I think at least. My initial testing suggested that volumes could be created as long as the brick exists but I think we still have to do this.

What we need is some kind of collection for volume creates. The collection should be parallel consumable and be able to be consumed on multiple hosts.

There are two use cases here:
- volume create takes longer than the HTTP timeout.

[2016-07-14 21:48] mapuri commented on #348
@erikh very interesting problem.

This has elements of asynchronous processing (addressable through a watch or kafka like pub-sub queue as you describe), however I am wondering if as a docker driver can these really be asynchronous?

I remember very early on we had similar discussions especially in netplugin around having a configuration (desired) state and a runtime(operational) state. The goal t

[2016-07-15 01:39] #271 closed

[2016-07-15 04:14] #295 closed

[2016-07-15 04:15] #66 closed

[2016-07-15 04:31] erikh commented on #348
I think this would end up being a separate kind of service which volplugin signals to achieve its goal.

Yes, latency is an issue; but I think with the send-and-poll method we will be safe unless the queue is exceptionally large, and I don't believe it will be in any environment we will be deployed to. It does not take much time to format most volumes, xfs and ext4 (arguably the two serious filesy

[2016-07-15 06:39] erikh commented on #269
What I think should happen here (ideally in order) is:

* [ ] Policies copied on write to archive
* [ ] volcli command to retrieve them
* [ ] volcli command to watch them as they come in

Data structure wise:

What I think is best is to tree this off the root of volplugin: e.g., `/volplugin/policy-archive`. You can modify the constants and constructor in `config/config.go`, then you will create a

[2016-07-15 06:56] erikh commented on #237
ok I think I know how this should be done.

* [ ] Design a schema system for backend drivers and their relationships to the following storage concepts (in `storage/driver.go`):
  * Volume
  * DriverOptions
  * these are the big two, but do perform diligence here so we cover all the bases
  * I think this will be a semi-large project by itself, please produce a design that works for you.
* [ ] Writ

[2016-07-15 11:09] erikh opened #350 "Support Docker 1.12 plugin packaging format"
Only a few details now and I'll post them soon, but soon we'll need to do this.

[2016-07-15 16:26] mapuri commented on #348
got it, so the docker API continues to block while backend processing will be asynchronous? Yeah, this shall work. From the use case `volume create takes longer than the HTTP timeout.`  I was somehow under the impression that docker itself was timing out due to volume create requests taking longer.

yep, I agree most common case won't have large queue build ups but those one off timeout cases are

[2016-07-15 19:33] dseevr commented on #269
What kind of output would you expect from `volcli volume policy-history foo/bar` (or whatever it ends up being called)?  A JSON array of objects with timestamp/policy text?

[code]

We could include the active policy, omit it, or include it and have an "active" key like in the example above.  Should each history entry in the response include the associated policy as a raw string, as a regular JSON

[2016-07-15 20:15] erikh commented on #348
Correct

Docker also has exponential backoff for retries, so we can inspect the state on retry to ensure that it as indeed created successfully, allowing the retry to safely work. This will be great for those larger volumes people need to provision regularly.

Cool. I think I'm going to start speccing this out in future comments. I have a good idea of how I want to do this now.

[2016-07-15 21:28] mapuri commented on #348
sounds good, looking forward to the new infra !

[2016-07-15 22:31] dseevr commented on #332
With #346 and #347 merged in, the new `make reload` target successfully reboots the VMs which technically completes this issue.

Many services are not set to automatically run at boot, e.g., Docker, Docker Swarm, ceph's various daemons, our daemons (netmaster, netplugin, volplugin, volsupervisor, apiserver), ucarp, and so on.

Should I open a new issue for getting what we need to start at boot?  I

[2016-07-15 22:34] mapuri commented on #332
oh, we discussed this over slack, we need to do `vagrant reload --provision` in `make reload` target

[2016-07-15 22:41] dseevr commented on #332
Oh, you're right: I tried this after we discussed it but it was still failing on something (can't remember).  I just tried it now and it worked.  Thanks @mapuri

[2016-07-15 22:42] mapuri commented on #332
kewl :+1:

[2016-07-15 23:07] erikh commented on #269
I think `volcli policy history list foo` (plaintext list) and `volcli policy history get foo <timestamp>` (json payload) would be better. What do you think?

[2016-07-15 23:09] dseevr commented on #269
What are you thinking the plaintext listing would look like?  CSV? Human-readable?

[2016-07-15 23:09] erikh commented on #332
can this issue be closed now that all changes are in master? @dseevr do you
mind doing the honors?

On Fri, Jul 15, 2016 at 3:42 PM, Madhav Puri <notifications@github.com>
wrote:

[2016-07-15 23:10] dseevr commented on #332
Yup, all set now that #352 is merged.  Thanks!

[2016-07-15 23:10] #332 closed

[2016-07-15 23:29] erikh commented on #269
just line by line, something that can be processed trivially with `awk` or `cut`. look at `volume list` and `policy list` for examples.

[2016-07-15 23:30] erikh opened #353 "etcd migrations system"
Research if there's something like this first, but to appropriately convert databases between versions we should ensure that we have a system like this in place. It will become more critical as more people start using the product.

[2016-07-18 04:08] erikh commented on #348
Actually this may be simpler than a separate daemon, but good use of channels and a map might work.

[2016-07-18 04:08] erikh commented on #348
(with the watches)

[2016-07-19 17:55] erikh opened #358 "tests with heisenbugs"
Going to keep a running list of these as I encounter them in CI. Please take one or two if you get time.

* [ ] `systemtestSuite.TestVolsupervisorRestart`
* [ ] `systemtestSuite.TestBatteryParallelMount` (nfs only)

[2016-07-19 19:24] erikh opened #359 "Kubernetes support"
I think this will require a rearchitecture of the volplugin.

I believe these interfaces are the key: https://gist.github.com/erikh/53c5b5d502d7f9f19932f20aa8803a61

This will allow volplugin to act as a high-level driver, providing high-level communication between docker/k8s and volplugin but not doing any direct work itself. This will be provided by the `api` library.

Since the apiserver's code

[2016-07-21 22:39] erikh opened #361 "Consul Support"
Support using consul as a backend.

[2016-07-21 22:39] erikh commented on #287
#361 was created to support consul, and I expect it to be ready in 0.4.

[2016-07-23 05:59] zachwalton opened #362 "[volsupervisor] rbd clone invocation incorrect for non-default pools"
ceph version: 0.94.6
volplugin version: 0.20.0

with a pool named "example", the following invocation of volcli:

[code]

invokes:

[code]

this results in a  500 error from the API server and the clone isn't created.  the correct rbd invocation is:

[code]

the first `example/` is the source pool and the second is the destination pool. the `--pool` flag isn't necessary.

[2016-07-23 06:10] erikh commented on #362
oh interesting! I guess I missed this in my tests. Thanks for the report, I'll investigate it this week.

[2016-07-26 23:36] dseevr opened #368 "Functionality for truncating/deleting policy revision history"
This is an add-on for https://github.com/contiv/volplugin/issues/269.  This is more of a discussion than a specific issue at this point.

Currently, there is no functionality for deleting items from a policy's revision history.  We could add the ability to truncate to the newest N entries, delete specific revisions, or delete the entire history of a policy aside from the current one (if it even ex

[2016-07-27 05:39] erikh commented on #362
Zach,

#369 should resolve this. It will likely drop in 0.3, probably in a few weeks.

[2016-07-27 16:50] zachwalton commented on #362
excellent, thank you! 👏🏻

[2016-07-28 09:36] erikh opened #370 "Indexing of use locks"
Use locks are very useful for controlling mount flow but the UX sucks.

We have watch tools and listing tools, but we really don't have a way of expressing this statement (which I feel to be a pretty important one):

"What hosts are using what volumes?"

Another one that I would like is:

"What volumes are in what states?"

This could be accomplished with a set of indexes which were taken as locks

[2016-07-28 09:51] erikh opened #371 "Symlink handling is not unsafe, but not good either"
Please see https://github.com/contiv/volplugin/pull/369#issuecomment-235850250 for more details

[2016-07-28 09:52] #362 closed

[2016-07-29 00:06] dseevr commented on #353
Just to make sure we're on the same page, as I understand it, the point of this task is so that we have something similar to Rails' database migration system.

We'll need some things like the following:

- A specific etcd key or directory will hold all the database migrations which have been run (the latest entry is the current version we're on)
- The ability to define schema versions.  These will

[2016-07-29 00:59] erikh commented on #353
yes, but we don't need a continuous migration system; we just need one that's per-release. So your migrations will be application version-based (make the unversioned dev build a version too). We should provide a separate utility for upgrading the cluster so it's clear from a UX perspective that this should never be done more than once per upgrade. volcli should not be involved.

[2016-07-29 01:26] dseevr commented on #353
Got it.

It seems like it would be sufficient to have each release schema just be a list of things which must be ensured, e.g.,

- ensure some directory exists
- ensure some file exists with some contents
- ensure some other file is deleted

rather than having a series of diffs going back to the very first schema.  What do you think?

[2016-07-29 01:41] erikh commented on #353
Hmm. I think what should happen here is similar to rails migrations (step
through a version, execute its code, and move on to the next one if it
succeeds). Outside of that feel free to use your own discretion.

I don't know if rollback support is really necessary -- we aren't talking
about terabyte-sized keyspaces, restoring from backup would be fine
probably for now. We'll worry about live stuff

[2016-07-29 01:42] dseevr commented on #353
Cool, I think I have enough to get started now.  Thanks!

[2016-07-29 07:14] #269 closed

[2016-07-29 20:53] dseevr commented on #353
I don't see any existing software which does anything like this (as expected), so I think we're on our own.

Are you thinking that each migration is a compiled binary which is executed, or should we be parsing some kind of migration file and executing the alterations line by line?  The advantages of running code are that you can use loops and other constructs and it would require less code overall

[2016-07-29 22:38] mapuri commented on #353
found this thread interesting so thought will chime in with my 2cents :)

may be we should also use a more widely-used data encoding scheme than just plain JSON/YAML, like protobufs? We can get benefit of existing practices to handle [data model updates](https://developers.google.com/protocol-buffers/docs/proto#updating).  Also chances of us hitting update scenarios that someone else has already h

[2016-07-29 22:44] yuva29 commented on #358
- [ ] `systemtestSuite.TestBatteryMultiMountSameHost `

[2016-07-29 23:06] erikh commented on #353
@mapuri I appreciate the idea of saving code, but...

* etcd uses strings so byte payloads are going to be interesting with protobuf/capnproto/grpc; at least with json we can be guaranteed utf-8 so strings are not a problem.
* The rails migrations are a pretty well-established pattern from the web world.

[2016-07-29 23:08] erikh commented on #353
@dseevr this is what I was thinking:

* [ ] binary for migrating, takes an arg to select which version to migrate to (default is 'latest').
* [ ] Confirm before performing.
* [ ] a `--list` argument which will list all the available versions to migrate.

As for parsing yaml etc I don't really want the extra overhead.

[2016-07-29 23:09] dseevr commented on #353
@mapuri Protobufs are more for the wire format of a protocol than defining schema changes.  (side note:  the author of Protobufs says you shouldn't even use them anymore!  He wrote Cap'n Proto as a replacement:  https://capnproto.org/ )

Erik had something more like this in mind:  http://edgeguides.rubyonrails.org/active_record_migrations.html

Basically, you use a high-level DSL to define DDL ope

[2016-07-29 23:10] erikh commented on #353
Protobufs are still the standard; sorry to be that guy in an issue

[2016-07-29 23:10] dseevr commented on #353
@erikh So you're thinking we just hard-code all the migrations into this one binary?  That'd make things easy.

[2016-07-29 23:10] dseevr commented on #353
@erikh LOL, yup I am aware 👯

[2016-07-29 23:13] erikh commented on #353
@dseevr re: binary, yes, but please find an appropriate abstraction to make writing these easier.

[2016-07-29 23:13] dseevr commented on #353
@erikh Great, exactly what I was planning to do

[2016-07-29 23:18] mapuri commented on #353
I think etcd clients can read/write byte arrays but I might be wrong. I remember as for netplugin we were encoding our data into a binary format very early but then reverted to json strings to make them readbale and easy to debug :-)

got it. Yes, my argument was mostly around using something well supported and standard. Thanks for clarifying Erik.

[2016-07-29 23:21] erikh commented on #353
@mapuri https://github.com/coreos/etcd/blob/master/client/keys.go#L103

Consul uses `[]byte`, which is why you might be confused.

[2016-07-29 23:32] mapuri commented on #353
yes, seems like :) thanks for the pointer Erik !

[2016-07-30 07:34] #237 closed

[2016-07-30 08:39] erikh commented on #358
I think I fixed the multi mount problems in #374, can you review again when merged?

[2016-08-01 16:47] pierreozoux opened #377 "Production ready?"
I'm planning to use this in production in the coming months.
I know it is currently alpha.

Can anybody make a list of possible issues that I can face doing so? I'm ready to spend time trying and debugging.

[2016-08-01 17:21] erikh commented on #377
I'll try to get back to you later today with this information. I'd say it's beta quality at this point.

[2016-08-01 17:36] pierreozoux commented on #377
Beta is already great :)

Maybe we can put a list of other issues, and once they are done, we can close this, let me know.

[2016-08-01 17:37] erikh commented on #377
Yep I have some milestones (check the tab under the issues list) but I should probably formalize the plan a little bit. Thanks for the kick in the pants. :)

[2016-08-01 17:40] erikh opened #378 "Support Docker 1.12"
I haven't validated for sure if this is working, need to put it on the milestone.

[2016-08-02 07:18] erikh opened #381 "Unify mountscan code in storage drivers"
This should live under `storage/mountscan` and be a merge of the mountscan code in ceph and nfs storage drivers which essentially do the same thing, just tweaked a bit.

What I would like this new code to do is parse the `/proc/self/mountinfo` text file into a structure which can then be evaluated by any storage driver for any need.

[2016-08-02 07:30] erikh opened #382 "backend.NewDriver needs some TLC"
This call takes a lot of differing arguments that change the behavior of it dramatically.

Suggestion: use a struct as the argument, which essentially gives us named parameters (that we can choose to ignore).

Either way this is going to require a fair bit of cleanup in the `api/` module alongside it.

[2016-08-02 07:40] erikh commented on #377
I'm still finalizing the schedule here, but Pierre, I'd love to make sure we can give you what you want. Please feel free to email me (on my github page) and we can discuss your priorities as well as ours and find the right intersection.

[2016-08-03 03:44] yuva29 commented on #381
@erikh https://github.com/contiv/volplugin/blob/master/storage/backend/nfs/mount.go#L38-L54 Do we need to throw these errors to the caller or can we just suppress them (ignore the specific line) and proceed processing the file further?

I would like to go with option 2; I don't want to ignore rest of the file because of the error in a line.

Let me know your thoughts.

[2016-08-03 05:48] erikh commented on #381
hmmmmm

hmm

hmm

let us `log.Error` them and move on. I think that's the right approach.

On Tue, Aug 2, 2016 at 8:44 PM, Yuva Shankar <notifications@github.com>
wrote:

[2016-08-04 00:40] dseevr opened #385 "Functionality for rolling a policy back to a previous revision"
Since we now record a revision entry for each policy upload, we should also provide a way to roll a policy back to a previous revision.

This could be a `volcli` command like:  `volcli policy rollback policy_name target_revision`

Internally, the `volcli` command would need to:

- [ ] ensure the target revision exists in the policy's revision history
- [ ] ensure the target revision is not the cur

[2016-08-05 00:22] vishal-j opened #389 "REST endpoints documentation"
Please provide docs for various volplugin REST endpoints. It will be nice to document

- Volplugin Operation
- URL
- Request type (POST, GET, PUT, DELETE)
- Input JSON
- Output JSON
- Errors returned including http status codes

[2016-08-08 21:19] yuva29 commented on #382
https://github.com/contiv/volplugin/blob/master/storage/backend/backends.go#L70

We can handle this 2 ways:
1. Define a struct with all the required args for `NewDriver()`
[code]

2. Define a map with all required attributes
[code]
I would prefer Option 1 because its less error prone.

Let me know your thoughts.

[2016-08-08 21:59] erikh commented on #382
What are the driver options needed for here again?

-Erik

On 8 Aug 2016, at 14:19, Yuva Shankar wrote:

[2016-08-08 22:09] yuva29 commented on #382
its for the validation. https://github.com/contiv/volplugin/blob/master/storage/backend/backends.go#L76

If we let the caller handle it, then we have return interface.

[2016-08-09 15:07] unclejack opened #395 "building & running checks without Vagrant"
Volplugin relies a lot on the vagrant environment to build and to do many other things.

Perhaps it would be a good idea to make it possible to build in Docker in a very similar way. This would make it possible to build volplugin where VMs can't be brought up for various reasons.

[2016-08-09 20:27] erikh commented on #395
https://github.com/ceph/ceph-docker/issues/330 this won't work.

Please check the closed issues. I'm pretty sure I already detailed this pretty heavily.

[2016-08-09 20:28] #395 closed

[2016-08-09 20:41] unclejack commented on #395
This was only about building the volplugin binaries and running the check scripts.

[2016-08-09 22:32] erikh opened #396 "Volsupervisor should only snapshot when the volume is in use"
We currently create the snapshot either way, I don't think pruned snaps of the same volume every 10m (for example) when the data is at rest leads to very useful snapshot logs.

[2016-08-10 19:36] erikh commented on #382
Let's make this look like so:

[code]

Write a `Validate` for BackendOptions and call that in your construction code.

Any reason this wouldn't work?

[2016-08-10 19:54] yuva29 commented on #382
@erikh what do you expect it to return ?

And I suppose the already existing `*BackendDrivers` would work. Just in case you meant a different  `BackendOptions`

[2016-08-10 20:14] erikh commented on #382
It should return a driver as it currently does?

[2016-08-10 20:16] yuva29 commented on #382
Right now, it just return an error. But with the new changes, it should return a driver which can be of MountDriver, SnapshotDirver or MountDriver. how about an interface?

[2016-08-10 20:17] erikh commented on #382
yeah, rename NewDriver to validate().

[2016-08-10 20:17] erikh commented on #382
leave the rest alone please.

[2016-08-10 20:18] erikh commented on #382
well, do remove the driver options. Just validate the backend (string) and backend driver map (struct)

[2016-08-10 21:27] yuva29 commented on #382
If all we do is Validation around backends, then I guess it is better to revert to how it was so that the driver options will also be taken into account.

[code]

Also, backends data validation is handled here https://github.com/yuva29/volplugin/blob/cb52b08d68ef5e19e9cd886b335f4607f3bab439/config/schema.go#L61-L69

LMKWYT

[2016-08-11 01:02] yuva29 commented on #396
[code]

and all the changes goes here https://github.com/contiv/volplugin/blob/master/volsupervisor/loop.go#L136

[2016-08-11 01:22] yuva29 opened #397 "Release locks wherever appropriate"
Handle graceful release of locks in mount/unmount code https://github.com/contiv/volplugin/blob/master/api/handlers.go

[2016-08-11 01:26] yuva29 opened #398 "Remove endpoints and handlers that are no more valid"
https://github.com/contiv/volplugin/blob/master/apiserver/daemon.go#L81-L121

[2016-08-11 04:02] #381 closed

[2016-08-11 04:26] erikh commented on #396
snap unlocked mode containers as they do now, no point in making this super complicated yet.

The rest seems like what I was thinking.

[2016-08-11 05:19] jainvipin opened #399 "`volplugin` too generic"
suggest changing it to `volcontiv`

[2016-08-11 10:57] #345 closed

[2016-08-12 23:23] yuva29 commented on #382
@erikh Let me know your thoughts on this

[2016-08-14 12:38] erikh commented on #382
Yeah that seems correct. Not sure how we got our wires crossed here but this is the correct behavior.

[2016-08-15 20:23] #382 closed

[2016-08-15 20:59] #353 closed

[2016-08-15 21:31] dseevr opened #409 "volmigrate wish list"
- [ ] record when each migration was applied (see: https://github.com/contiv/volplugin/pull/401#issuecomment-239592218)
- [ ] add transaction support (once we support a backend which supports them)
- [ ] move the actual migration functions out into a separate package
- [ ] add tests

[2016-08-15 23:16] dseevr opened #410 "bash completion for new volcli policy-related commands"
@vvb Erik told me this is your thing :^)

New commands introduced in https://github.com/contiv/volplugin/pull/367:

- [ ] `volcli policy history list $policy_name`
- [ ] `volcli policy history get $policy_name $revision`
- [ ] `volcli policy watch`

Example output below:

[code]

[2016-08-15 23:22] dseevr opened #411 "Integrate more tools into checks.sh"
https://github.com/kisielk/errcheck

https://github.com/fzipp/gocyclo (with cutoff of 15)

[2016-08-15 23:30] #396 closed

[2016-08-16 00:17] shampur opened #413 "Creating volume through snapshot - Not returning the new volume object"
Volume-create is returning a new volume object after create,  Similarly Contiv-UI expects volume object to be returned after creating it using a snapshot. This would generalize the UI code across all functionalities.

[2016-08-16 00:24] #397 closed

[2016-08-16 04:15] erikh commented on #399
going to make this selectable with a default instead of just static this time.

[2016-08-16 04:16] erikh commented on #399
actually, on second thought, I'm not going to do that. :D

[2016-08-16 09:10] erikh opened #421 "Have volcli pass the force parameter to docker 1.13"
See https://github.com/docker/docker/pull/23436

This resolves a long-standing issue in volplugin where volumes that were removed could not be reaped without a daemon restart or aggressively long timeout.

[2016-08-16 09:13] erikh opened #422 "`volcli scale` command to seamlessly clone volumes for running additional containers"
This feature:

* [ ] Inspects a running docker container
* [ ] Clones any volplugin-owned volumes (on-demand snap api + copy api)
* [ ] Starts a new container with the same parameters and the new volumes.
* [ ] Should accept an integer parameter to coordinate how many volumes to launch.

Comments welcome /cc @jainvipin

[2016-08-17 00:20] yuva29 commented on #335
1. Glusterfs supports various protocols for mounting (glusterfs, nfs, cifs, etc.) but currently I'm planning to focus on getting the {CRUD: glusterfs, Mount: glusterfs, Snapshot: glisters }
2. Also, it supports different types of volumes (distributed, replicated, striped, etc..) but I thought of getting the "distributed" (simplest one) working first.
3. Also, it provides various managing options (

[2016-08-17 06:31] #413 closed

[2016-08-17 18:23] shampur opened #426 "Taking volume snapshot - Snapshot timestamp is not returned by the endpoint"
Contiv-UI expects snapshot-timestamp to be returned back from the endpoint "/snapshots/take/{volume}/{policy}" . This will generalize the UI code across services.

[2016-08-17 23:11] erikh opened #427 "volsupervisor does not free locks if it is terminated during snapshot operations"
This is the issue with the VolsupervisorRestart test. Fixing this today, but the repro is basically:

* Create a volume (and mount it or create it in unlocked mode so it gets snapped)
* Wait a minute until a snapshot is in progress (watch the users keyspace for the snapshot lock)
* Restart volsupervisor
* Snapshots can no longer be taken because of the stale lock.

I think there are two potential

[2016-08-17 23:26] vvb commented on #427
how about something in-between,
1. volsupervisor is taking a snapshot and crashes while still holding the lock on the volume-X
2. new volsupervisor with a new PID comes up.
3. If and when the snapshot is due on volume-X, volsupervisor accesses and figures that a pre-existing lock on the volume exists.
4. It also accesses that a `snapshotting_in_process_timer` is not punched for X iterations. (Gene

[2016-08-17 23:29] erikh commented on #427
that's a TTL

[2016-08-17 23:30] erikh commented on #427
the problem with assuming pre-existing locks from a new process is that it's terribly hard to determine whether or not that lock is stale or not.

[2016-08-17 23:40] vvb commented on #427
I think not,  if we define what do we consider stale. Stale may not mean that older volsup process is dead. It might be busy. But let's say `Stale == Volsup not punching the timer for 3 iterations`.  The difference between this and TTL is that, the etcd lock on the volume is not removed after 3 iterations. If the busy volsup recovers, it still gets time to claim its lock.

Unless, a new volsup com

[2016-08-17 23:42] erikh commented on #427
Yes, the TTL refresh accomplishes “punching the timer”. Look at the
lock/lock.go code… AcquireTTLRefresh I think.

What will happen is that if that code is no longer running, the lock
will expire after the TTL does.

We should never allow two volsupervisors to run. I guess part of the fix
here is making sure that never happens.

But your paragraphs here are basically describing what the
aforementi

[2016-08-17 23:56] yuva29 commented on #427
Is it possible to free all the snap locks when volsupervisor gets terminated during restart ?  because all those locks indicate the "snap in progress" right ? Let me know if i'm missing something here.

When only 1 volsupervisor is running, wouldn't it the first option work well?

[2016-08-18 00:08] vvb commented on #427
@erikh given the distributed architecture and ability of volsup to run on any of the nodes, it is hard to ensure that more than one volsup do not come up, even momentarily. May be, if we could create some form of node level constraint for volsup process and restrict it to a node(which should be runtime user configurable), then we can check things at a process level - `ps aux volsupervisor &>/dev/n

[2016-08-18 00:23] erikh commented on #427
If it doesn't terminate cleanly this doesn't work.

On 17 Aug 2016, at 16:56, Yuva Shankar wrote:

[2016-08-18 00:37] erikh commented on #427
@vvb right, I had previously made that the end-user's job but perhaps it is time to handle this ourselves. Perhaps using TTLs and then a lock for running volsupervisor would be best.

[2016-08-18 00:55] dseevr commented on #427
What actually happens in the case where a snapshot is triggered while a snapshot is still running?  I/O just gets punished until one/both complete?

In either proposed solution, isn't the worst case scenario that one snapshot can overlap another snapshot in progress (per volume, per volsupervisor restart/network partition)?

solution 1: new volsupervisor starts, grabs a lock, issues a snapshot (no

[2016-08-18 01:08] erikh commented on #427
inline:

Right, but if we have a situation where the volsupervisor is restarted,
we may be sending N snapshots instead of just 1.

Yes, that’s what @vvb and I were discussing. I think that’s a
requirement and will update the ticket header accordingly.

The use locks accomplish this. Each snapshot acquires a lock while it is
taking the snapshot. These locks can be queried. Doing this at the
storage

[2016-08-18 01:16] dseevr commented on #427
Right, I get that, but we can't trust that those use locks are necessary in a restart scenario.  Is there no easy way to do something like this?

[code]

and have it query the actual ceph daemon to see its status (snapshotting or otherwise)?

[2016-08-18 01:17] erikh commented on #427
if we use an expiry TTL it will automatically go away

[2016-08-18 01:18] erikh commented on #427
as for ceph q's, like I explained this does not translate well to different storage architectures where we may or may not know whether a snapshot can be taken. I don't think it is wise to solve this problem at that level.

[2016-08-18 01:18] dseevr commented on #427
Is it worse to have a dangling lock which is deleted after a configurable amount of time (whether by the original volsupervisor that created it or any future one) potentially blocking normal snapshot operations for a while or to have a lock expire prematurely and have multiple snapshot operations in progress at once?

[2016-08-18 01:19] erikh commented on #427
the former, imo. what do you think?

[2016-08-18 01:21] dseevr commented on #427
I would also prefer the former.  I think suffering a little I/O pain is better than having a bigger data loss window.

[2016-08-18 01:22] erikh commented on #427
yep. I've updated the ticket with the design requirements. Please review @yuva29 @dseevr @vvb

[2016-08-18 01:23] dseevr commented on #427
LGTM

[2016-08-18 01:23] erikh commented on #427
to be clear, the former would *block* new snap operations, not increase I/O

[2016-08-18 02:14] vvb commented on #427
LGTM

[2016-08-18 03:18] #398 closed

[2016-08-18 21:55] dseevr commented on #350
Can you drop the additional details you have about this?

[2016-08-18 21:57] erikh commented on #350
I don’t have many, this is partially a research task.

If you take it, be sure to coordinate with @vvb on the updates for the
installation of docker on the VMs.

On 18 Aug 2016, at 14:55, Bill Robinson wrote:

[2016-08-19 17:12] #422 closed

[2016-08-19 23:40] #399 closed

[2016-08-19 23:57] dseevr commented on #411
This was resolved by https://github.com/contiv/volplugin/pull/429

(errcheck ultimately didn't make the cut)

[2016-08-19 23:57] #411 closed

[2016-08-21 16:04] erikh commented on #239
@unclejack this ticket has been updated.

[2016-08-22 07:19] shampur opened #433 "Unable to create volume with the same name as the one deleted."
To recreate:
    *   Create a volume.
    *   Take a snapshot.
    *   Copy the snapshot into a new volume.
    *   After this you will have -
        storagePolicy1/vol1
        storagePolicy1/vol1copy
    *   delete both volumes.
    Now if I try to create storagePolicy1/vol1 it's throwing an error saying volume exists, But when I do a list-all it does not show up.

[2016-08-22 20:51] dseevr opened #436 "Integrate a dead code checker into checks.sh"
We should detect and complain about any unused, unexported functions.

Maybe something like this:  https://github.com/remyoudompheng/go-misc/blob/master/deadcode/deadcode.go

[2016-08-23 03:10] erikh opened #438 "Convert API server to use `api` package where applicable"
Volume management is the obvious thing, but there are probably other things too.

[2016-08-24 20:06] #358 closed

[2016-08-24 20:06] erikh commented on #358
these tests have been resolved.

[2016-08-24 23:08] dseevr opened #447 "Integrate misspell into checks.sh"
Since we apparently all need it lol

https://github.com/client9/misspell

[2016-08-25 22:21] #436 closed

[2016-08-25 22:21] #447 closed

[2016-08-25 23:03] erikh opened #451 "use govalidator in structs"
This might be better than the JSON schema stuff we have:

https://github.com/asaskevich/govalidator

[2016-08-29 21:25] erikh commented on #378
Taking this out of the milestone; docker 1.12 is ridiculously unstable and hard to use with volumes. Let's wait for 1.13.

[2016-08-29 21:26] erikh commented on #350
Removing the milestone here; we will support docker 1.13 instead when it's out.

[2016-08-29 21:28] erikh commented on #260
I'm going to cut this from the 0.4 release because we are too busy and the hardware we need hasn't arrived yet.

[2016-08-29 21:28] erikh commented on #260
/cc @jainvipin

[2016-08-30 18:46] unclejack commented on #239
This could be added in a new package called events. The events package would make it possible to have multiple producers and multiple consumers for events.

**JSON payload**

In addition to the fields mentioned above, the type of daemon from which the event was produced should also be logged.

Events related to event consumers should also be produced. This would make it possible to debug problems

[2016-09-01 01:40] erikh commented on #239
Re: client, I thikn we need to revisit this in light of the new upcoming db changes. `events.Log` probably shouldn't exist, but `client.LogEvent` maybe should (if that makes sense). Let's discuss this offline since there are several tickets involved. Hooking into the client either way would be something worth having a discussion about.

let's leave slow consumers out of the equation for now; that

[2016-09-01 01:43] erikh commented on #239
or maybe we could pay close attention to the indexes that are returned. That will require some adjustment in the new DB system. Let me know which one sounds most appealing.

[2016-09-01 19:24] erikh opened #453 "Remove "demo mode""
Demo mode was an addition made before the inception of the "autorun" container image.

Let's remove the code in the vagrant and makefiles, and any ansible/test tooling that enabled this.

[2016-09-06 05:13] #453 closed

[2016-09-10 10:16] a-nldisr commented on #361
Is this implemented by #452 ?

[2016-09-10 11:55] erikh commented on #361
Almost. That’s the library and I’m working on integrating it with
the rest of the platform now.

It will be ready for 0.4 for sure.

-Erik

On 10 Sep 2016, at 3:16, Rogier Dikkes wrote:

[2016-09-13 03:21] yuva29 opened #461 "Volume list command logic fix"
`volcli volume list <policy>` should display only the volumes of the given policy.

[2016-09-13 03:24] erikh commented on #461
@dseevr can you take this one?

[2016-09-13 05:30] dseevr commented on #461
Yup!

[2016-09-13 07:33] erikh opened #462 "Pretty all json responses in volcli"
This is pretty self-explanatory but right now, all volcli output is regurgitated directly from the apiserver unformatted. This should be processed and indented for users so that it's readable AND parseable.

[2016-09-13 22:56] dseevr commented on #462
I can do this while I'm in the area 👍

[2016-09-13 22:57] erikh commented on #462
sgtm

On 13 Sep 2016, at 15:56, Bill Robinson wrote:

[2016-09-28 18:16] dseevr opened #466 "Policy validation generates an unhelpful error when "size" doesn't contain a unit"
What I ran:
`docker volume create -d volcontiv --name $POLICY/$NAME --opt size=10`

What I expected:
A helpful error message telling me that my input was not valid.  It should say that the "size" must contain units (e.g., "10MB").

What I got:
An unhelpful error message:  `Size set to zero for non-empty CRUD backend ceph`

cc: @neelimamukiri

[2016-10-03 20:22] yuva29 commented on #333
This may have fixed the issue https://github.com/docker/docker/pull/27116

[2016-10-10 20:28] yuva29 opened #467 "Fix Mount() to call ApplyCGroupRateLimit as appropriate."
`ApplyCGroupRateLimit` shouldn't be called during `NFS` mount.

[2016-10-26 17:47] yuva29 opened #468 "cleanup log messages"
TTL locking messages should be isolated so that it doesn't interwind along with other messages.

Its little confusing to go over the messages in its current state.

[code]

[2016-10-26 17:52] erikh commented on #468
set the log level to info.

[2016-10-26 17:55] yuva29 opened #469 "Multiple policies with the same name"
When a policy with same name is uploaded twice, the user should be informed about the existing policy otherwise it leaves an impression that the new policy is in use which is not the case!

[code]

[2016-10-26 17:59] yuva29 commented on #468
I would rather see 2 lines of high level message saying
[code]
all the other detailed messages should be separated out.

[2016-10-26 18:03] yuva29 commented on #335
Here is the implementation [support glusterfs](https://github.com/contiv/volplugin/compare/master...yuva29:gluster?expand=1)

[2016-10-26 18:40] erikh commented on #468
they are. the log level above are "debug" and "warning"

This will give you more info on syslog levels, which are relevant (but not used) here: https://www.google.com/search?client=ubuntu&channel=fs&q=syslog+log+levels&ie=utf-8&oe=utf-8

But essentially, when loglevels are set to `info`, the warning class of log entry will only show up. `debug` is enabled right now in the binary.

My point is, all

[2016-10-26 19:29] erikh commented on #469
Seems good, maybe output the previous and existing policy and confirm? Offer a –y option to skip.

-Erik

From: Yuva Shankar <notifications@github.com<mailto:notifications@github.com>>
Reply-To: contiv/volplugin <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, October 26, 2016 at 10:55 AM
To: contiv/volplugin <volplugin@noreply.github.com<mailto:volplugin@noreply.github.com

[2016-10-26 23:10] yuva29 commented on #469
So when someone uploads a new policy with the same name, it will affect all the volumes under that policy. I suppose we should not allow this operation itself. WDYT?

[2016-10-26 23:52] erikh commented on #469
no, it will only affect the new volumes.

look at hte runtime upload option for how to affect volumes at runtime.

[2016-10-27 00:21] yuva29 commented on #469
That's right. What I'm trying to say is, its misleading to have volumes that is created from a policy which no more exists. Because, when the user refers the policy, it will be something different than what he used to create volume.

[2016-10-27 15:40] erikh commented on #469
This is what the policy archive is for; it can trace back these changes.

From: Yuva Shankar <notifications@github.com<mailto:notifications@github.com>>
Reply-To: contiv/volplugin <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, October 26, 2016 at 5:21 PM
To: contiv/volplugin <volplugin@noreply.github.com<mailto:volplugin@noreply.github.com>>
Cc: Erik Hollensbe <ehollens@c

[2016-11-12 00:55] jolly2 opened #470 "container launch fails to create rbd volume"
Trying contiv volume plugin for ceph/rbd support for docker. Ceph/rbd works perfectly fine independent of docker. Once integrated with docker, after creating the global and tenant configurations, when a container is launched with contiv volume driver and the policy, it errors out with the message "rbd: map failed: (6) No such device or address". It looks like it is executing rbd map command withou

[2016-11-12 01:25] erikh commented on #470
This is failing because the /sys/bus devices don’t exist. How did you launch volplugin? This sounds like one of two things:

Review the /sys is mapped right and that your rbd version in your container matches the one on your host kernel (nothing much we can do about this, especially on redhat).

If that doesn’t work for you I will review soon, but I just saw this and need to leave.

-Erik

From: j

[2016-11-14 21:57] jolly2 commented on #470
Thanks Erik for the response. However, i found the cause of the problem. contiv createvolume command is creating rbd create volume, but with some new kernel features such as exclusive-lock, object-map, fast-diff, deep-flatten which are not supported yet. So, i had to intercept the code to disable these features for each volume instance that contiv created, before it maps the vol image to the block

[2016-11-14 22:22] erikh commented on #470
interesting. Can you give me a more concrete example of what is going on and what you had to do to get it to the point you're at now? Pastes, anything would be a huge help.

[2016-11-14 22:41] erikh commented on #470
sorry if that seems like a repeat question; what I mean is the latest things only, sorry.

[2016-11-15 17:26] jolly2 commented on #470
In my 3 node docker/ceph POC environment, the kernel rbd does not support these features exclusive lock, object map, fast-diff, and deep-flatten. It supports only layering feature. I am using ubuntu 16.04LTS with kernel version 4.4.xxx By default, ceph rbd creates images with all these features. As my kernel rbd does not support these features, rbd map from contiv was failing. I tried fixing by di

[2016-11-15 17:44] erikh commented on #470
yeah, hm. OK. We typically only test on centos, this is very valuable data.

I'll try to visit this over the weekend. Sorry for any problems.

[2016-11-28 21:34] erikh opened #471 "removing volumes with snapshots breaks volume remove"
* create a volume
* do some container stuff
* snap it
* create a new volume from the snap
* stop all containers
* remove cloned volume
* remove volume

[2016-12-20 00:26] isodude opened #473 "Allow ceph driver to specify --id"
Hi,

I don't see any effort to support other usernames than admin in the driver.

I aim to implement this though. AFAIK this  should be done in storage/backend/ceph/internals.go

Feel free to shoot me down if this is already implemented somehow.

Regards
Josef

[2016-12-20 00:36] isodude opened #474 "Implement rbd-nbd as mapping commands"
Hi,

In later releases of Ceph there's the command rbd-nbd that presents a nbd devices instead of a kernel rbd.

In my case I wanted to go with a newer version of Ceph than shipped with the kernel, as rbd-nbd is shipped with the Ceph release, it is always up to date.

Everything can be mapped from the rbd command.

rbd map -> rbd-nbd map / rbd nbd map
rbd unmap > rbd-nbd unmap / rbd nbd unmap
rbd

[2017-01-16 23:06] raarts commented on #377
Did this happen? I am investigating using this in production too.

[2017-01-16 23:07] erikh commented on #377
No, in my opinion, this product is not ready for production.

On Mon, Jan 16, 2017 at 3:06 PM, Ron Arts <notifications@github.com> wrote:

[2017-01-26 15:03] galindro commented on #378
@erikh, [Docker 1.13 was released 8 days ago](https://github.com/docker/docker/releases/tag/v1.13.0).
Any news about integration?

[2017-01-27 10:10] erikh commented on #378
Hi Bruno.

Unfortunately, I am no longer working on the project nor at Cisco any
longer so I cannot tell you its status.

Sorry.

On Thu, Jan 26, 2017 at 7:03 AM, Bruno Galindro da Costa <
notifications@github.com> wrote:

[2017-04-19 11:31] hsluoyz commented on #164
Hi, I'm the author of [casbin](https://github.com/hsluoyz/casbin). It is an authorization library that supports models like MAC, RBAC, ABAC.

Related to RBAC, casbin has several advantages:
1. roles can be cascaded, aka roles can have roles.
2. support resource roles, so users have their roles and resource have their roles too. role = group here.
3. the permission assignments (or policy in casbin'

[2017-04-27 07:58] akailash opened #476 "Getting Started link in README.md is broken"
Getting Started link in README.md is broken
Can this driver be used in a docker swarm service for persistent storage?

[2017-04-28 17:17] rhim commented on #476
@akailash the plugin is not under active development at the moment in Contiv team. But we do welcome PRs from community. The current version of volplugin has been tested to work in legacy swarm mode with docker 1.11.x only.

[2017-04-28 17:17] #476 closed

[2017-06-11 12:13] mchassy opened #477 "Documentation for volplugin missing"
The link for getting started with you volplugin leads to empty page

[2022-02-08 20:28] #361 closed

[2022-02-08 20:28] #348 closed

[2022-02-08 20:28] #335 closed